afip.py==1.1.1
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
branca==0.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
crispy-bootstrap5==0.7
crispy-tailwind==1.0.3
cryptography==43.0.1
cssselect2==0.7.0
distlib==0.3.8
Django==5.0.4
django-appconf==1.0.6
django-ckeditor==6.7.0
django-crispy-forms=2.3
django-extensions==3.2.3
django-js-asset==2.1.0
django-recaptcha==4.0.0
django-select2==8.2.1
experta==1.9.4
filelock==3.13.4
folium==0.17.0
frozendict
html5lib==1.1
idna==3.4
Jinja2==3.1.4
lxml==4.9.3
MarkupSafe==2.1.5
mysqlclient==2.2.4
numpy==1.25.2
oscrypto==1.3.0
pillow==10.3.0
platformdirs==4.2.0
psycopg==3.1.10
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyarrow==13.0.0
pycparser==2.21
pyHanko==0.20.1
pyhanko-certvalidator==0.24.1
pylance==0.7.3
pyOpenSSL==24.2.1
pypdf==3.16.1
pypng==0.20220715.0
python-bidi==0.4.2
python-decouple==3.8
pytz==2023.3.post1
PyYAML==6.0.1
qrcode==7.4.2
reportlab==3.6.13
requests==2.31.0
schema==0.6.7
six==1.16.0
sms-python-client==1.0.4
sqlparse==0.5.0
svglib==1.5.1
tinycss2==1.2.1
typing_extensions==4.7.1
tzdata==2024.1
tzlocal==5.0.1
uritools==4.0.2
urllib3==2.0.4
virtualenv==20.25.3
webencodings==0.5.1
Werkzeug==3.0.4
xhtml2pdf==0.2.11
xyzservices==2024.9.0
