Hola {{ user.username }},

Has solicitado restablecer tu contraseña en nuestro sitio 
"Super Descuentos".

Haz clic en el siguiente enlace para restablecer tu contraseña:

{%block reset_link %}

<a href="{{ domain }}/reset/{{ uid }}/{{ token }}">Restablecer contraseña</a>

{{protocolo}}://{{domain}} {% url 'password_reset_confirm' uidb64=uid token=token %}


{%endblock%}

En caso de no recordar tu nombre de usuario es: {{user.username}} 
Si no solicitaste restablecer tu contraseña, ignora este correo electrónico.
