{% extends "base.html" %}   
{% block title %}Restablecimiento de contraseña{% endblock %} 
{% block content %} 
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Establecer Contraseña</span>                        
                    </h2>
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Su contraseña fue restablecida.
                            Usted puede <a href="{% url 'login' %}">Acceder ahora</a> 
                        </span>                        
                    </h2>                                                       
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}