{% extends "base.html" %}   
{% block title %}Restablecimiento de contraseña{% endblock %} 
{% block content %}
<div class="min-h-screen flex flex-col bg-gray-100">
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-3xl m-4">
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 mb-4">Restablecer contraseña</h2> 
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">Su contraseña fue restablecida con éxito.
                                    Usted puede <a class="text-red-500 hover:text-red-600" href="{% url 'login' %}">Acceder ahora</a> 
                                </span>                        
                            </h2>                                                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock%}