{% extends "base.html" %}
{% block title %} Recupero de Clave {% endblock %} 
{% block content %} 
<div class="min-h-screen flex flex-col bg-gray-100">
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-3xl m-4"></div>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 mb-4">Reseteo de contraseña</h2>
                            <p>Le hemos enviado por correo electrónico las instrucciones para configurar su contraseña.</p>
                            <p> Si no recibe un correo electrónico, asegúrese de haber ingresado el correo correcto con el que se registró</p>
                        </div>
                        <div class="flex justify-center">
                            <a href="{% url 'index' %}" 
                               class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none m-4">
                                Volver al inicio
                            </a>
                        </div>
                        

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock%}