{% extends "base.html" %}
{% block title %}Error de Reseteo de Contraseña {% endblock %}

{% block content %} 
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Error de Reseteo de Contraseña</span>                        
                    </h2>
                    <p>No existe una cuenta asociada a este correo electrónico. Por favor, verifica tu dirección de correo electrónico e intenta nuevamente.</p>
                </div>

                <div class="cta-inner bg-faded text-center rounded">
                    <a href="{% url 'reset_password' %}" class="card-link"> <i class="fa-solid fa-envelope"></i>Olvidaste tu Contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%} 