{% extends 'base.html' %}

  {% block title %}

  {% endblock title %}
    
  {% block content %}
  <head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <!-- Breadcrumb -->
<nav class="flex text-gray-700 text-sm" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <!-- Inicio -->
        <li class="inline-flex items-center">
            <a href="{% url 'index' %}" class="inline-flex items-center text-gray-500 hover:text-blue-600">
                <svg class="w-4 h-4 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M10 20a1 1 0 01-1-1V8.414L2.293 14.293a1 1 0 01-1.414-1.414l8-8a1 1 0 011.414 0l8 8a1 1 0 01-1.414 1.414L11 8.414V19a1 1 0 01-1 1z"/>
                </svg>
                Inicio
            </a>
        </li>
        <!-- Separador -->
        <li>
            <div class="flex items-center">
                <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 18l6-6-6-6"></path>
                </svg>
            </div>
        </li>
        <!-- Mis comercios -->
        <li class="inline-flex items-center">
            <a href="{% url 'lista_comercios' %}" class="text-gray-500 hover:text-blue-600">
                Mis comercios
            </a>
        </li>
        <!-- Separador -->
        <li>
            <div class="flex items-center">
                <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 18l6-6-6-6"></path>
                </svg>
            </div>
        </li>
        <!-- Publicar nueva oferta -->
        <li class="inline-flex items-center">
            <a href="{% url 'crear_oferta' %}" class="text-gray-500 hover:text-blue-600">
                Publicar nueva oferta
            </a>
        </li>
        <!-- Separador -->
        <li>
            <div class="flex items-center">
                <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 18l6-6-6-6"></path>
                </svg>
            </div>
        </li>
        <!-- Página actual (sin enlace) -->
        <li class="inline-flex items-center">
            <span class="text-gray-400">Nuevo producto</span>
        </li>
    </ol>
</nav>

  <div class="max-w-2xl mx-auto bg-white p-5 rounded-md shadow-md">
    {% if messages %}
    <div id="messages" style="display: none;">
        {% for message in messages %}
        <div data-message="{{ message }}" data-tags="{{ message.tags }}"></div>
        {% endfor %}
    </div>
    {% endif %}

    {% if form.non_field_errors %}
    <div class="text-red-500 mb-4">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <h1 class="text-2xl font-bold mb-4">Agregar un nuevo producto</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Campo para el nombre -->
        <div class="mb-4">
            <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="{{ form.nombre.value|default_if_none:'' }}"
                class="mt-1 p-2 block w-full border rounded-md" placeholder="Nombre del producto">
                {% for error in form.nombre.errors %}
                    <p class="text-red-500">{{ error }}</p>
                {% endfor %}
            
        </div>

        <!-- Campo para la descripción -->
        <div class="mb-4">
            <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
            <textarea name="descripcion" id="descripcion" class="mt-1 p-2 block w-full border rounded-md"
                placeholder="Descripción del producto">{{ form.descripcion.value|default_if_none:'' }}</textarea>
            {% for error in form.descripcion.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>

        <!-- Campo para la imagen del producto -->
        <div class="mb-4">
            <label for="imagen" class="block text-sm font-medium text-gray-700">Imagen del producto</label>
            <input type="file" name="imagen" id="imagen"
                class="mt-1 block w-full text-sm text-gray-900 border rounded-md cursor-pointer focus:outline-none">
            {% for error in form.imagen.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>

        <!-- Campo para la marca -->
        <div class="mb-4">
            <label for="marca" class="block text-sm font-medium text-gray-700">Marca</label>
            <input type="text" name="marca" id="marca"
                value="{{ form.marca.value|default_if_none:'' }}"
                class="mt-1 p-2 block w-full border rounded-md" placeholder="Ingrese la marca del producto">
            {% for error in form.marca.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>


        <!-- Campo para la categoria -->
        <div class="mb-4">
            <label for="categoria" class="block text-sm font-medium text-gray-700">Selecciona la categoría del producto</label>
            <select name="categoria" id="categoria" class="mt-1 block w-full p-2 border rounded-md">
              <option value="">-- Selecciona una categoría --</option>
              {% for subcategoria in subcategorias %}
                  <option value="{{ subcategoria.id }}">{{ subcategoria.nombre }}</option>
              {% empty %}
                  <option value="">No hay categorías disponibles</option>
              {% endfor %}
          </select>
          
            {% for error in form.categoria.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>
       

       


        

        <!-- Botón de envío -->
        <div class="flex justify-end space-x-4">
            <a type="button" href="{% url 'crear_oferta' %}" 
               class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none btn btn-primary">
               Cancelar
            </a>
            <button type="submit" 
                    class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none btn btn-primary">
               Agregar producto
            </button>
        </div>
        
    </form>
</div>
  
  {% endblock %}