{% extends 'base.html' %}

  {% block title %}

  {% endblock title %}
    
  {% block content %}
  <h1>Lista de Productos</h1>
  <a href="{% url 'crear_producto' %}">Crear Producto</a>
  <ul>
      {% for producto in productos %}
          <li>
              {{ producto.nombre }} - {{ producto.marca }}
              <a href="{% url 'editar_producto' producto.pk %}">Editar</a>
              <a href="{% url 'eliminar_producto' producto.pk %}">Eliminar</a>
          </li>
      {% endfor %}
  </ul>
  
  {% endblock %}