{% extends 'base.html' %}
{% load static %}



{% block title %}
Index
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'admin/css/styles.css' %}">

<section class="w-full ">
    <div class="relative">
        <div id="slider" class="overflow-hidden">
            <div class="scroll-container" id="scroll-container">
                <img src="{% static 'images/png/slider/1.png' %}" alt="Imagen 1">
                <img src="{% static 'images/png/slider/2.png' %}" alt="Imagen 2">
                <img src="{% static 'images/png/slider/3.png' %}" alt="Imagen 3">
            </div>
        </div>
    </div>
</section>

<div class="relative overflow-hidden bg-white">
    <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
      <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
        <div class="sm:max-w-lg">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Descuentos Destacados</h1>
          <p class="mt-4 text-xl text-gray-500">Descubrí los descuentos que a los usuarios les encataron</p>
        </div>
        <div>
          <div class="mt-10">
            <!-- Decorative image grid -->
            <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
              <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                <div class="flex items-center space-x-6 lg:space-x-8">
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                      <img src="{% static 'images/media/ofertas/girasol_aceite.jpg' %}" alt="" class="h-full w-full object-cover object-center">
                    </div>
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img src="{% static "images/media/ofertas/cerveza.jpg" %}" alt="" class="h-full w-full object-cover object-center">
                    </div>
                  </div>
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img src="{% static "images/media/ofertas/cerveza_juEGLES.jpg" %}" alt="" class="h-full w-full object-cover object-center">
                    </div>
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img src="{% static "images/media/ofertas/tele.jpg" %}" alt="" class="h-full w-full object-cover object-center">
                    </div>
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img src="{% static "images/media/ofertas/cerealmix.jpg" %}" alt="" class="h-full w-full object-cover object-center">
                    </div>
                  </div>
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img src="{% static "images/media/ofertas/girasol_aceite.jpg" %}" alt="" class="h-full w-full object-cover object-center">
                    </div>
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img src="{% static "images/media/ofertas/patagonia.jpg" %}" alt="" class="h-full w-full object-cover object-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <a href="{%url 'descuentos'%}" class="inline-block rounded-md border border-transparent bg-red-600 px-8 py-3 text-center font-medium text-white hover:bg-red-700">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <section class="w-full flex justify-center">
    <div class="bg-white pb-6 w-full max-w-2xl"> 
        <div class="flex items-center mb-6 m-4">
            <h1 class="text-2xl font-bold text-gray-800 mr-4">Más cercanos a tu ubicación</h1>
        </div>
        
        <div class="scroll-container-tarj flex overflow-x-auto gap-4">
            {% for item in ofertas_con_calificaciones %}
            <div class="card flex-shrink-0" style="width: 45%; max-width: 250px;"> <!-- Reducir el ancho -->
                <div class="bg-gray-50 p-3 flex flex-col justify-between gap-1 rounded-2xl overflow-hidden">
                    <div class="h-40 bg-gray-700 rounded-xl overflow-hidden flex items-center justify-center"> <!-- Ajustar la altura -->
                        {% if item.oferta.imagen %}
                            <img src="{{ item.oferta.imagen.url }}" alt="{{ item.oferta.titulo }}" class="w-full h-32 object-cover mb-4 rounded-lg">
                        {% else %}
                            <img src="{{ MEDIA_URL }}default_image.png" alt="Imagen por defecto" class="w-full h-32 object-cover mb-4 rounded-lg">
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-2 w-full flex-grow">
                        <span class="text-lg font-bold w-full">{{ item.oferta.titulo }}</span> <!-- Reducir el tamaño de fuente -->
                        <p class="text-xs text-gray-700 w-full">{{ item.oferta.descripcion }}</p>
                        <h3 class="font-bold text-gray-700">Productos:</h3>
                        <ul class="flex flex-row gap-1 flex-wrap list-none w-full">
                            {% for producto in item.oferta.productos.all %}
                                <li class="whitespace-nowrap">{{ producto.nombre }}</li>
                            {% endfor %}
                        </ul>
                        <div class="mb-2 w-full">
                            <p class="font-bold text-gray-700">Comercio:</p>
                            <p>{{ item.oferta.oferente.nombrecomercio }}</p>
                        </div>
                        <div class="flex items-center">
                            <p class="text-xl font-bold">{{ item.calificacion_promedio|floatformat:1 }}</p>
                            {% for i in "12345" %}
                                {% if forloop.counter <= item.calificacion_promedio %}
                                    <label class="text-xl" style="color: orange;">★</label> <!-- Estrella llena -->
                                {% else %}
                                    <label class="text-xl" style="color: grey;">★</label> <!-- Estrella vacía -->
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p>({{ item.cantidad_calificaciones }}) Calificaciones</p>
                        <div class="flex justify-between mt-2 text-xs text-gray-500">
                            <p>Desde: {{ item.oferta.fecha_inicio }}</p>
                            <p>Hasta: {{ item.oferta.fecha_fin }}</p>
                        </div>
                    </div>
                    <div class="flex justify-between items-center mt-4">
                        <div>
                            <p class="text-gray-600 line-through">${{ item.oferta.precio_normal }}</p>
                            <span class="font-bold text-red-600">${{ item.oferta.precio_oferta }}</span>
                        </div>
                        <a href="{% url 'detalle_oferta' item.oferta.id %}" class="bg-red-600 text-white shadow-sm hover:bg-red-500 rounded px-1 py-1">Ver más</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>                 
    </div>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.animatedmarker/src/AnimatedMarker.js"></script>
<link rel="stylesheet" href="{% static 'css/L.Icon.Pulse.css' %}">
<script src="{% static 'js/L.Icon.Pulse.js' %}"></script>




<div id="map" style="height: 700px; width:100%; position: relative; z-index: 1; margin-left: 15px; margin-top: 75px;"></div>

<script>
    // Verifica los datos pasados desde el backend a la plantilla
    const ubicacionUsuarioDB = {{ ubicacion_usuario|safe }};
    const comerciosEnRadio = {{ comercios_en_radio|safe }};
    console.log("Ubicación del usuario:", ubicacionUsuarioDB);
    console.log("Comercios en radio:", comerciosEnRadio);

    const map = L.map('map').setView([ubicacionUsuarioDB.latitud, ubicacionUsuarioDB.longitud], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Crear el ícono pulsante para la ubicación del usuario
    const pulsingIcon = L.icon.pulse({ iconSize: [20, 20], color: 'red' });

    // Reemplazar el marcador del usuario con el ícono pulsante
    const usuarioMarker = L.marker([ubicacionUsuarioDB.latitud, ubicacionUsuarioDB.longitud], { icon: pulsingIcon })
        .addTo(map)
        .bindPopup('¡Estás aquí!').openPopup();

        let userLocation = {
        lat: ubicacionUsuarioDB.latitud,
        lng: ubicacionUsuarioDB.longitud
    };

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function(position) {
                userLocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setView([userLocation.lat, userLocation.lng], 13);
                usuarioMarker.setLatLng([userLocation.lat, userLocation.lng])
                    .bindPopup('Ubicación actual').openPopup();
            },
            function(error) {
                console.warn(`No se pudo obtener la ubicación actual. Usando ubicación predeterminada.`);
                usuarioMarker.bindPopup('Ubicación predeterminada').openPopup();
            },
            { enableHighAccuracy: true, timeout: 10000, maximumAge: 0 }
        );
    }

    let currentRoute = null;

    function trazarRuta(origen, destino) {
        if (currentRoute) {
            map.removeControl(currentRoute);
        }

        currentRoute = L.Routing.control({
            waypoints: [
                L.latLng(origen.lat, origen.lng),
                L.latLng(destino.lat, destino.lng)
            ],
            routeWhileDragging: true,
            geocoder: L.Control.Geocoder.nominatim(),
            language: 'es',
            lineOptions: {
            styles: [{ color: 'red', opacity: 0.7, weight: 10 }] // Cambia 'color' y 'weight' según tus preferencias
        },
            createMarker: function(i, waypoint, n) {
                if (i === n - 1) {
                    return L.marker(waypoint.latLng).bindPopup('Destino');
                } else if (i > 0) {
                    return L.marker(waypoint.latLng).bindPopup(`Parada ${i}`);
                }
                return null;
            }
        }).addTo(map);
    }

    comerciosEnRadio.forEach(comercio => {
        const comercioMarker = L.marker([comercio.latitud, comercio.longitud])
            .addTo(map)
            .bindPopup(comercio.nombre);

        comercioMarker.on('click', function() {
            trazarRuta(userLocation, { lat: comercio.latitud, lng: comercio.longitud });
        });
    });
</script>
</section>

<div class="flex justify-center items-center p-5">
    <div class="flex flex-col sm:flex-row sm:space-x-4 overflow-x-auto w-full sm:justify-center">
        <div id="contenedor-publicaciones1" class="w-full sm:w-auto mb-2"></div>
        <div id="contenedor-publicaciones2" class="w-full sm:w-auto mb-2"></div>
        <div id="contenedor-publicaciones3" class="w-full sm:w-auto mb-2"></div>
    </div>
</div>

<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Solo por hoy</h2>
        <div class="mt-6 flex flex-wrap gap-6"> <!-- Cambié grid por flex y añadí gap -->
            {% for oferta in vencen_hoy %}
            <div class="group relative w-full sm:w-1/2 lg:w-1/4"> <!-- Añadido el tamaño a las columnas -->
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                    {% if oferta.imagen %}
                        <img src="{{ oferta.imagen.url }}" alt="Front of men's Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                    {%else%}
                        <img src="{{ MEDIA_URL }}default_image.png" alt="Front of men's Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                    {% endif %}
                    
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="font-bold w-full text-gray-700">
                            <a href="{% url 'detalle_oferta' oferta.id %}">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                {{ oferta.titulo }}
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">{{ oferta.descripcion }}</p>
                        <h3 class="text-sm font-medium text-gray-700">Productos:</h3>
                        <ul class="flex flex-row gap-2 flex-wrap list-none w-full">
                            {% for producto in oferta.productos.all %}
                            <li class="whitespace-nowrap text-sm text-gray-700">{{ producto.nombre }}</li>
                            {% endfor %}
                        </ul>

                        <div class="mb-2 w-full">
                            <p class="text-sm font-medium text-gray-700">Comercio:</p>
                            <p class="text-sm text-gray-700">{{ oferta.oferente.nombrecomercio }}</p>
                        </div>
                        <div class="flex justify-between mt-2 text-xs text-gray-500">
                            <p>Desde: {{ oferta.fecha_inicio }}</p>
                            <p>Hasta: {{ oferta.fecha_fin }}</p>
                        </div>
                    </div>
                    <p class="text-sm font-medium text-gray-900 line-through">${{ oferta.precio_normal }}</p>
                    <p class="text-sm font-bold text-red-600">${{ oferta.precio_oferta }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>  

{% endblock content %}

{% block js %}
<script>
    const scrollContainer = document.getElementById('scroll-container');
    
    // Variables de control de scroll automático
    let scrollAmount = 0;
    let maxScrollLeft = scrollContainer.scrollWidth - scrollContainer.clientWidth;
    
    function autoScroll() {
        // Mueve el scroll hacia la derecha
        scrollContainer.scrollLeft += 1; // Cambia el número para ajustar la velocidad
        
        // Cuando llega al final, vuelve al inicio
        if (scrollContainer.scrollLeft >= maxScrollLeft) {
            scrollContainer.scrollLeft = 0;
        }
        
        requestAnimationFrame(autoScroll); // Continua el bucle
    }

    // Inicia el scroll automático cuando se carga la página
    window.onload = () => {
        autoScroll();
    };
</script>
{% endblock js %}