{% extends 'base.html' %}
{% load static %}



{% block title %}
Index
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'admin/css/styles.css' %}">

<section class="w-full ">
    <div class="relative">
        <div id="slider" class="overflow-hidden">
            <div class="scroll-container" id="scroll-container">
                <img src="{% static 'images/png/slider/1.png' %}" alt="Imagen 1">
                <img src="{% static 'images/png/slider/2.png' %}" alt="Imagen 2">
                <img src="{% static 'images/png/slider/3.png' %}" alt="Imagen 3">
            </div>
        </div>
    </div>
</section>
<section class="w-full flex justify-center">
    <div class="bg-white pb-8 w-full max-w-4xl"> 
        <div class="flex items-center mb-6 m-4">
            <h2 class="text-2xl font-bold text-gray-800 mr-4">Descuentos Destacados</h2>
        </div>
        <div class="scroll-container-tarj flex overflow-x-auto gap-4">
            {% for item in ofertas_con_calificaciones %}
    <div class="card flex-shrink-0">
        <div class="w-60 min-h-[22rem] bg-gray-50 p-3 flex flex-col justify-between gap-1 rounded-2xl overflow-hidden">
            <!-- Imagen o área superior -->
            <div class="h-48 bg-gray-700 rounded-xl overflow-hidden flex items-center justify-center">
                <img src="{% static 'images/png/productos/5.png' %}" alt="{{ item.oferta.titulo }}" class="object-cover w-full h-full">
            </div>

            <!-- Contenido de la tarjeta -->
            <div class="flex flex-col gap-4 w-full flex-grow">
                <div class="flex flex-col w-full">
                    <!-- Título y descripción -->
                    <span class="text-xl flex-wrap font-bold w-full">{{ item.oferta.titulo }}</span>
                    <p class="text-xs flex-wrap text-gray-700 w-full">{{ item.oferta.descripcion }}</p>

                    <!-- Productos en una sola línea -->
                    <h3 class="font-bold text-gray-700">Productos:</h3>
                    <ul class="flex flex-row gap-2 flex-wrap list-none w-full">
                        {% for producto in item.oferta.productos.all %}
                            <li class="whitespace-nowrap">{{ producto.nombre }}</li>
                        {% endfor %}
                    </ul>

                    <!-- Información del comercio -->
                    <div class="mb-2 w-full">
                        <p class="font-bold text-gray-700">Comercio:</p>
                        <p>{{ item.oferta.oferente.nombrecomercio }}</p>
                    </div>

                    <!-- Calificación promedio y estrellas -->
                    <div class="flex items-center">
                        <p class="text-2xl font-bold">{{ item.calificacion_promedio|floatformat:1 }}</p>
                        {% for i in "12345" %}
                            {% if forloop.counter <= item.calificacion_promedio %}
                                <label class="text-2xl" style="color: orange;">★</label> <!-- Estrella llena -->
                            {% else %}
                                <label class="text-2xl" style="color: grey;">★</label> <!-- Estrella vacía -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p>({{ item.cantidad_calificaciones }}) Calificaciones</p>

                    <!-- Fechas -->
                    <div class="flex justify-between mt-2 text-xs text-gray-500">
                        <p>Desde: {{ item.oferta.fecha_inicio }}</p>
                        <p>Hasta: {{ item.oferta.fecha_fin }}</p>
                    </div>
                </div>

                <!-- Precios y botón Ver más -->
                <div class="flex justify-between items-center mt-4">
                    <!-- Precios -->
                    <div>
                        <p class="text-gray-600 line-through">${{ item.oferta.precio_normal }}</p>
                        <span class="font-bold text-red-600">${{ item.oferta.precio_oferta }}</span>
                    </div><br>
                    <!-- Botón Ver más al lado del precio -->
                    <a href="{% url 'detalle_oferta' item.oferta.id %}" class="bg-red-600 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 rounded-r px-1 py-1">Ver más</a>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
        </div>                 
    </div>
</section>

<div class="flex justify-center items-center p-5">
    <div class="flex flex-col sm:flex-row sm:space-x-4 overflow-x-auto w-full sm:justify-center">
        <div id="contenedor-publicaciones1" class="w-full sm:w-auto mb-2"></div>
        <div id="contenedor-publicaciones2" class="w-full sm:w-auto mb-2"></div>
        <div id="contenedor-publicaciones3" class="w-full sm:w-auto mb-2"></div>
    </div>
</div>

<section class="w-full flex justify-center">
    <div class="bg-white pb-8 w-full max-w-4xl">
        <div class="flex items-center mb-6 m-4">
            <h2 class="text-2xl font-bold text-gray-800 mr-4">Solo por Hoy</h2>
        </div>
        <div class="scroll-container-tarj flex overflow-x-auto gap-4">
            {% for oferta in vencen_hoy %}
            <div class="relative">
                <div class="overflow-hidden py-2">
                    <div  class="flex transition-transform duration-300 ease-in-out">
                        <div class="w-60 min-h-[22rem] bg-gray-50 p-3 flex flex-col justify-between gap-1 rounded-2xl overflow-hidden">
                            <!-- Imagen o área superior -->
                            <div class="h-48 bg-gray-700 rounded-xl overflow-hidden flex items-center justify-center">
                                <img src="{% static 'images/png/productos/5.png' %}" alt="{{ oferta.titulo }}" class="object-cover w-full h-full">
                            </div>
                
                            <!-- Contenido de la tarjeta -->
                            <div class="flex flex-col gap-4 w-full flex-grow">
                                <div class="flex flex-col w-full">
                                    <!-- Título y descripción -->
                                    <span class="text-xl flex-wrap font-bold w-full">{{ oferta.titulo }}</span>
                                    <p class="text-xs flex-wrap text-gray-700 w-full">{{ oferta.descripcion }}</p>
                
                                    <!-- Productos en una sola línea -->
                                    <h3 class="font-bold text-gray-700">Productos:</h3>
                                    <ul class="flex flex-row gap-2 flex-wrap list-none w-full">
                                        {% for producto in oferta.productos.all %}
                                        <li class="whitespace-nowrap">{{ producto.nombre }}</li>
                                        {% endfor %}
                                    </ul>
                
                                    <!-- Información del comercio -->
                                    <div class="mb-2 w-full">
                                        <p class="font-bold text-gray-700">Comercio:</p>
                                        <p>{{ oferta.oferente.nombrecomercio }}</p>
                                    </div>
                
                                    <!-- Fechas -->
                                    <div class="flex justify-between mt-2 text-xs text-gray-500">
                                        <p>Desde: {{ oferta.fecha_inicio }}</p>
                                        <p>Hasta: {{ oferta.fecha_fin }}</p>
                                    </div>
                                </div>
                
                                <!-- Precios y botón Ver más -->
                                <div class="flex justify-between items-center mt-4">
                                    <!-- Precios -->
                                    <div>
                                        <p class="text-gray-600 line-through">${{ oferta.precio_normal }}</p>
                                        <span class="font-bold text-red-600">${{ oferta.precio_oferta }}</span>
                                    </div><br>
                                    <!-- Botón Ver más al lado del precio -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
<script>
    const scrollContainer = document.getElementById('scroll-container');
    
    // Variables de control de scroll automático
    let scrollAmount = 0;
    let maxScrollLeft = scrollContainer.scrollWidth - scrollContainer.clientWidth;
    
    function autoScroll() {
        // Mueve el scroll hacia la derecha
        scrollContainer.scrollLeft += 1; // Cambia el número para ajustar la velocidad
        
        // Cuando llega al final, vuelve al inicio
        if (scrollContainer.scrollLeft >= maxScrollLeft) {
            scrollContainer.scrollLeft = 0;
        }
        
        requestAnimationFrame(autoScroll); // Continua el bucle
    }

    // Inicia el scroll automático cuando se carga la página
    window.onload = () => {
        autoScroll();
    };
</script>
{% endblock js %}
