{% extends 'base1.html' %}

  {% block title %}
    Index
  {% endblock title %}

  {% block js %}
  
  {% endblock %}
    
  {% block content %}
    <!-- Lista de ofertas con descuentos -->
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
    <!-- Oferta 1 -->
    {%for oferta in ofertas %}
    <div class="-mt-4 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
        <div class="mx-10 max-w-xs px-max">
          <div class="bg-white p-6 rounded-lg shadow-md">
            {% if oferta.imagen %}
            <img src="{{ oferta.imagen.url }}" alt="{{ oferta.titulo }}" class="w-full h-32 object-cover mb-4 rounded-lg">
            {% else %}
            <img src="{{ MEDIA_URL }}default_image.png" alt="Imagen por defecto" class="w-full h-32 object-cover mb-4 rounded-lg">
            {% endif %}
            <div class="mb-2">
              <h2 class="text-xl font-semibold mb-2">{{ oferta.titulo }}</h2>
              <p class="text-gray-600 mb-4">{{ oferta.descripcion }}</p>
                <h3 class="font-bold text-gray-700">Productos:</h3>
                <ul class="list-disc pl-5">
                    {% for producto in oferta.productos.all %}
                    <li>{{ producto.nombre }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <!-- Mostrar oferente -->
            <div class="mb-2">
                <p class="font-bold text-gray-700">Comercio:</p>
                <p>{{ oferta.oferente.nombrecomercio }}</p>
            </div>

            <!-- Mostrar precios -->
            <div class="flex justify-between items-center mb-4">
                <p class="text-gray-600 line-through">Precio normal: ${{ oferta.precio_normal }}</p>
                <p class="text-red-500 font-bold">Oferta: ${{ oferta.precio_oferta }}</p>
            </div>

            <!-- Mostrar fechas de la oferta -->
            <div class="flex justify-between items-center mb-4">
                <p>Desde: {{ oferta.fecha_inicio|date:"d/m/Y"}}</p>
                <p>Hasta: {{ oferta.fecha_fin|date:"d/m/Y"}}</p>
            </div>
            <button type="submit" class="bg-red-600 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600   rounded-r px-1 py-1">Ver más</button>
          </div>
        </div>
    </div>
    {% endfor %}   

{% endblock %}
 