{% extends 'base1.html' %}
{% load static %}

{% block title %}Descuentos Catamarca {% endblock %}
{% block js %}
<script src="{% static 'js/utils/createpromo.js' %}"></script>
<script src="{% static 'js/utils/slider.js' %}"></script>
<script src="{% static 'js/utils/slidercategorias.js' %}"></script>
<script>
    const productData = [
        {
            id: 1,
            image: "{% static 'images/png/productos/1.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 1",
            description: "Descripción breve del producto 1",
            currentPrice: 99.99,
            oldPrice: 129.99,
            discount: 23,
            startDate: "2023-05-01",
            endDate: "2023-05-31"
        },
        {
            id: 2,
            image: "{% static 'images/png/productos/2.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 2",
            description: "Descripción breve del producto 2",
            currentPrice: 79.99,
            oldPrice: 99.99,
            discount: 20,
            startDate: "2023-05-05",
            endDate: "2023-06-05"
        },
        {
            id: 3,
            image: "{% static 'images/png/productos/2.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 2",
            description: "Descripción breve del producto 2",
            currentPrice: 79.99,
            oldPrice: 99.99,
            discount: 20,
            startDate: "2023-05-05",
            endDate: "2023-06-05"
        },
        {
            id: 4,
            image: "{% static 'images/png/productos/2.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 2",
            description: "Descripción breve del producto 2",
            currentPrice: 79.99,
            oldPrice: 99.99,
            discount: 20,
            startDate: "2023-05-05",
            endDate: "2023-06-05"
        },
        {
            id: 5,
            image: "{% static 'images/png/productos/2.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 2",
            description: "Descripción breve del producto 2",
            currentPrice: 79.99,
            oldPrice: 99.99,
            discount: 20,
            startDate: "2023-05-05",
            endDate: "2023-06-05"
        },
        {
            id: 6,
            image: "{% static 'images/png/productos/2.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 2",
            description: "Descripción breve del producto 2",
            currentPrice: 79.99,
            oldPrice: 99.99,
            discount: 20,
            startDate: "2023-05-05",
            endDate: "2023-06-05"
        },
        {
            id: 7,
            image: "{% static 'images/png/productos/2.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 2",
            description: "Descripción breve del producto 2",
            currentPrice: 79.99,
            oldPrice: 99.99,
            discount: 20,
            startDate: "2023-05-05",
            endDate: "2023-06-05"
        },
        {
            id: 8,
            image: "{% static 'images/png/productos/2.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 2",
            description: "Descripción breve del producto 2",
            currentPrice: 79.99,
            oldPrice: 99.99,
            discount: 20,
            startDate: "2023-05-05",
            endDate: "2023-06-05"
        },
        {
            id: 9,
            image: "{% static 'images/png/productos/2.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 2",
            description: "Descripción breve del producto 2",
            currentPrice: 79.99,
            oldPrice: 99.99,
            discount: 20,
            startDate: "2023-05-05",
            endDate: "2023-06-05"
        }
    ];

    const productData2 = [
        {
            id: 10,
            image: "{% static 'images/png/productos/5.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 7",
            description: "Descripción breve del producto 7",
            currentPrice: 89.99,
            oldPrice: 109.99,
            discount: 18,
            startDate: "2023-06-01",
            endDate: "2023-06-01"
        },
        {
            id: 11,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 12,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 13,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 14,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 15,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 16,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        }
];
const productData3 = [
        {
            id: 17,
            image: "{% static 'images/png/productos/5.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 7",
            description: "Descripción breve del producto 7",
            currentPrice: 89.99,
            oldPrice: 109.99,
            discount: 18,
            startDate: "2023-06-01",
            endDate: "2023-06-01"
        },
        {
            id: 19,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 19,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 20,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 21,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 22,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 23,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        }
];
const productData4 = [
        {
            id: 24,
            image: "{% static 'images/png/productos/5.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 7",
            description: "Descripción breve del producto 7",
            currentPrice: 89.99,
            oldPrice: 109.99,
            discount: 18,
            startDate: "2023-06-01",
            endDate: "2023-06-01"
        },
        {
            id: 25,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 26,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 27,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 28,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 29,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        },
        {
            id: 30,
            image: "{% static 'images/png/productos/6.png' %}?height=200&width=300",
            link: "#",
            title: "Producto 8",
            description: "Descripción breve del producto 8",
            currentPrice: 129.99,
            oldPrice: 159.99,
            discount: 19,
            startDate: "2023-07-07",
            endDate: "2023-07-07"
        }
        // Agrega más productos según necesites
    ];

    const productCarousel1 = document.getElementById('productCarousel1');
    const prevProductBtn1 = document.getElementById('prevProduct1');
    const nextProductBtn1 = document.getElementById('nextProduct1');
    let currentProductIndex1 = 0;

    const productCarousel2 = document.getElementById('productCarousel2');
    const prevProductBtn2 = document.getElementById('prevProduct2');
    const nextProductBtn2 = document.getElementById('nextProduct2');
    let currentProductIndex2 = 0;

    const productCarousel3 = document.getElementById('productCarousel3');
    const prevProductBtn3 = document.getElementById('prevProduct3');
    const nextProductBtn3 = document.getElementById('nextProduct3');
    let currentProductIndex3 = 0;

    const productCarousel4 = document.getElementById('productCarousel4');
    const prevProductBtn4 = document.getElementById('prevProduct4');
    const nextProductBtn4 = document.getElementById('nextProduct4');
    let currentProductIndex4 = 0;

    function createProductCard(product) {
        return `
                <a href="${product.link}" class="w-1/3 flex-shrink-0 mx-2 max-w-[200px] bg-white border border-animation rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105 group">
    <img src="${product.image}" alt="${product.title}" class="w-full h-32 object-contain">
    <span class="absolute top-0 right-0 w-20 h-8 bg-red-600 rounded-lg text-xs font-bold text-white flex items-center justify-center">${product.discount}% OFF</span>
    <div class="p-2">
        <span class="text-sm font-semibold truncate text-gray-900 group-hover:text-red-700">${product.title}</span>
        <p class="text-xs text-gray-600 mt-1 h-8 overflow-hidden">${product.description}</p>
        <div class="mt-2 flex items-baseline space-x-2">
            <span class="text-sm font-bold">$${product.currentPrice.toFixed(2)}</span>
            <span class="text-xs line-through text-gray-500">$${product.oldPrice.toFixed(2)}</span>
            <span class="text-xs font-semibold text-green-600">-${product.discount}%</span>
        </div>
        <div class="flex justify-between mt-2 text-xs text-gray-500">
            <p>Desde: ${product.startDate}</p>
            <p>Hasta: ${product.endDate}</p>
        </div>
    </div>
</a>

<style>
@keyframes borderAnimation {
    0% {
        border-color: red;
    }
    25% {
        border-color: blue;
    }
    50% {
        border-color: green;
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: red;
    }
}

.border-animation {
    animation: borderAnimation 3s infinite;
    border-width: 2px;
    border-style: solid;
    transition: border-color 0.3s ease-in-out;
}

.card-container:hover .border-animation {
    animation: borderAnimation 1s infinite;
}
</style>
`;
    }

    
    function createProductCard2(product) {
        return `
                <a href="${product.link}" class="w-1/3 flex-shrink-0 mx-2 max-w-[200px] bg-white border border-gray-300 rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105 group">
    <img src="${product.image}" alt="${product.title}" class="w-full h-32 object-contain">
    <span class="absolute top-0 right-0 w-20 h-8 bg-red-600 rounded-lg text-xs font-bold text-white flex items-center justify-center">${product.discount}% OFF</span>
    <div class="p-2">
        <span class="text-sm font-semibold truncate text-gray-900 group-hover:text-red-700">${product.title}</span>
        <p class="text-xs text-gray-600 mt-1 h-8 overflow-hidden">${product.description}</p>
        <div class="mt-2 flex items-baseline space-x-2">
            <span class="text-sm font-bold">$${product.currentPrice.toFixed(2)}</span>
            <span class="text-xs line-through text-gray-500">$${product.oldPrice.toFixed(2)}</span>
            <span class="text-xs font-semibold text-green-600">-${product.discount}%</span>
        </div>
        <div class="flex justify-between mt-2 text-xs text-gray-500">
            <p>Desde: ${product.startDate}</p>
            <p>Hasta: ${product.endDate}</p>
        </div>
    </div>
</a>`;
    }

    function renderProductCards1() {
        productCarousel1.innerHTML = productData.map(createProductCard).join('');
    }

    function renderProductCards2() {
        productCarousel2.innerHTML = productData2.map(createProductCard2).join('');
    }

    function renderProductCards3() {
        productCarousel3.innerHTML = productData3.map(createProductCard2).join('');
    }

    function renderProductCards4() {
        productCarousel4.innerHTML = productData4.map(createProductCard2).join('');
    }

    function updateProductCarouselPosition1() {
        const cardWidth = productCarousel1.children[0].offsetWidth;
        const gap = 16;
        const offset = (cardWidth + gap) * currentProductIndex1;
        productCarousel1.style.transform = `translateX(calc(-${offset}px))`;
        prevProductBtn1.disabled = currentProductIndex1 === 0;
        nextProductBtn1.disabled = currentProductIndex1 === productData.length - 3;
    }

    function updateProductCarouselPosition2() {
        const cardWidth = productCarousel2.children[0].offsetWidth;
        const gap = 16;
        const offset = (cardWidth + gap) * currentProductIndex2;
        productCarousel2.style.transform = `translateX(calc(-${offset}px))`;
        prevProductBtn2.disabled = currentProductIndex2 === 0;
        nextProductBtn2.disabled = currentProductIndex2 === productData2.length - 3;
    }

    
    function updateProductCarouselPosition3() {
        const cardWidth = productCarousel3.children[0].offsetWidth;
        const gap = 16;
        const offset = (cardWidth + gap) * currentProductIndex3;
        productCarousel3.style.transform = `translateX(calc(-${offset}px))`;
        prevProductBtn3.disabled = currentProductIndex3 === 0;
        nextProductBtn3.disabled = currentProductIndex3 === productData3.length - 3;
    }

    
    function updateProductCarouselPosition4() {
        const cardWidth = productCarousel4.children[0].offsetWidth;
        const gap = 16;
        const offset = (cardWidth + gap) * currentProductIndex4;
        productCarousel4.style.transform = `translateX(calc(-${offset}px))`;
        prevProductBtn4.disabled = currentProductIndex4 === 0;
        nextProductBtn4.disabled = currentProductIndex4 === productData4.length - 3;
    }

    function showNextProduct1() {
        if (currentProductIndex1 < productData.length - 3) {
            currentProductIndex1++;
            updateProductCarouselPosition1();
        }
    }

    function showPrevProduct1() {
        if (currentProductIndex1 > 0) {
            currentProductIndex1--;
            updateProductCarouselPosition1();
        }
    }

    function showNextProduct2() {
        if (currentProductIndex2 < productData2.length - 3) {
            currentProductIndex2++;
            updateProductCarouselPosition2();
        }
    }

    function showPrevProduct2() {
        if (currentProductIndex2 > 0) {
            currentProductIndex2--;
            updateProductCarouselPosition2();
        }
    }

    function showNextProduct3() {
        if (currentProductIndex3 < productData3.length - 3) {
            currentProductIndex3++;
            updateProductCarouselPosition3();
        }
    }

    function showPrevProduct3() {
        if (currentProductIndex3 > 0) {
            currentProductIndex3--;
            updateProductCarouselPosition3();
        }
    }

    function showNextProduct4() {
        if (currentProductIndex4 < productData4.length - 3) {
            currentProductIndex4++;
            updateProductCarouselPosition4();
        }
    }

    function showPrevProduct4() {
        if (currentProductIndex4 > 0) {
            currentProductIndex4--;
            updateProductCarouselPosition4();
        }
    }
    // Renderiza los productos y establece los eventos
    renderProductCards1();
    updateProductCarouselPosition1();
    prevProductBtn1.addEventListener('click', showPrevProduct1);
    nextProductBtn1.addEventListener('click', showNextProduct1);

    renderProductCards2();
    updateProductCarouselPosition2();
    prevProductBtn2.addEventListener('click', showPrevProduct2);
    nextProductBtn2.addEventListener('click', showNextProduct2);

    renderProductCards3();
    updateProductCarouselPosition3();
    prevProductBtn3.addEventListener('click', showPrevProduct3);
    nextProductBtn3.addEventListener('click', showNextProduct3);

    renderProductCards4();
    updateProductCarouselPosition4();
    prevProductBtn4.addEventListener('click', showPrevProduct4);
    nextProductBtn4.addEventListener('click', showNextProduct4);

    // Actualiza la posición en el redimensionamiento
    window.addEventListener('resize', () => {
        updateProductCarouselPosition1();
        updateProductCarouselPosition2();
        updateProductCarouselPosition3();
        updateProductCarouselPosition4();
    });
</script>
{% endblock %}

{% block content %}

<section class="w-full ">
    <div class="relative">
        <div id="slider" class="overflow-hidden">
            <div class="flex transition-transform duration-500" id="slider-inner">
                <div class="flex-shrink-0 w-full">
                    <img src="{% static 'images/png/slider/1.png' %}" alt="Oferta 1" class="w-full h-64 object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-full">
                    <img src="{% static 'images/png/slider/2.png' %}" alt="Oferta 2" class="w-full h-64 object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-full">
                    <img src="{% static 'images/png/slider/3.png' %}" alt="Oferta 3" class="w-full h-64 object-cover rounded-lg">
                </div>
            </div>
        </div>
        <button id="button-prev" class="absolute left-4 top-1/2 transform -translate-y-1/2">
            <img src="{% static 'images/svg/white/header/sidebars/atras.svg' %}" alt="" class="h-8 w-8">
        </button>
        <button id="button-next" class="absolute right-4 top-1/2 transform -translate-y-1/2">
            <img src="{% static 'images/svg/white/header/sidebars/derecha2.svg' %}" alt="" class="h-8 w-8">
        </button>
    </div>
</section>
<br>
<section class="w-full flex justify-center">
    <div class="bg-white pb-8 w-full max-w-4xl"> 
        <div class="flex items-center mb-6 m-4">
            <h2 class="text-2xl font-bold text-gray-800 mr-4">Descuentos Destacados</h2>
        </div>
        <div class="relative">
            <div class="overflow-hidden py-2">
                <div id="" class="flex transition-transform duration-300 ease-in-out">
                    <!-- Las tarjetas de productos se generarán dinámicamente aquí -->
                    {% for oferta in ofertas  %}
                    <a href="${product.link}" class="w-1/3 flex-shrink-0 mx-2 max-w-[200px] bg-white border border-animation rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105 group">
                      <img src="{% static 'images/png/productos/5.png'%}" alt="${product.title}" class="w-full h-32 object-contain">
                      <span class="absolute top-0 right-0 w-20 h-8 bg-red-600 rounded-lg text-xs font-bold text-white flex items-center justify-center">${product.discount}% OFF</span>
                      <div class="p-2">
                          <span class="text-sm font-semibold truncate text-gray-900 group-hover:text-red-700">{{oferta.titulo}}</span>
                          <p class="text-xs text-gray-600 mt-1 h-8 overflow-hidden">{{oferta.descripcion}}</p>
                          <div class="mt-2 flex items-baseline space-x-2">
                              <span class="text-sm font-bold">{{oferta.precio_oferta}}</span>
                              <span class="text-xs line-through text-gray-500">oferta.precio_oferta</span>
                              <span class="text-xs font-semibold text-green-600">-${product.discount}%</span>
                          </div>
                          <div class="flex justify-between mt-2 text-xs text-gray-500">
                              <p>Desde: {{oferta.fecha_inicio}}</p>
                              <p>Hasta: {{oferta.fecha_fin}}</p>
                          </div>
                      </div>
                    </a>  
                    {% endfor %}                
                </div>
            </div>
            <button id="prevProduct1"
                class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 z-10"
                aria-label="Productos anteriores">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
            <button id="nextProduct1"
                class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300"
                aria-label="Productos siguientes">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
    </div>        
</section>
<br>
<section class="w-full flex justify-center">
    <div class="bg-white pb-8 w-full max-w-4xl">
        <div class="flex items-center mb-6 m-4">
            <h2 class="text-2xl font-bold text-gray-800 mr-4">Solo por Hoy</h2>
        </div>
        <div class="relative">
            <div class="overflow-hidden py-2">
                <div id="productCarousel2" class="flex transition-transform duration-300 ease-in-out">
                    <!-- Las tarjetas de productos se generarán dinámicamente aquí -->
                </div>
            </div>
            <button id="prevProduct2"
                class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 z-10"
                aria-label="Productos anteriores">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
            <button id="nextProduct2"
                class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300"
                aria-label="Productos siguientes">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
    </section>


    <div class="flex justify-center items-center p-5">
        <div class="flex flex-col sm:flex-row sm:space-x-4 overflow-x-auto w-full sm:justify-center">
            <div id="contenedor-publicaciones1" class="w-full sm:w-auto mb-2"></div>
            <div id="contenedor-publicaciones2" class="w-full sm:w-auto mb-2"></div>
            <div id="contenedor-publicaciones3" class="w-full sm:w-auto mb-2"></div>
        </div>
    </div>

<section class="w-full flex justify-center">
<div class="bg-white pb-8 w-full max-w-4xl">
    <div class="flex items-center mb-6 m-4">
        <h2 class="text-2xl font-bold text-gray-800 mr-4">Solo por Hoy</h2>
    </div>
    <div class="relative">
        <div class="overflow-hidden py-2">
            <div id="productCarousel3" class="flex transition-transform duration-300 ease-in-out">
                <!-- Las tarjetas de productos se generarán dinámicamente aquí -->
            </div>
        </div>
        <button id="prevProduct3"
            class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 z-10"
            aria-label="Productos anteriores">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <button id="nextProduct3"
            class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300"
            aria-label="Productos siguientes">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
</div>        
</section>
<br>
<div class="flex flex-col md:flex-row w-full max-w-6xl mx-auto space-y-4 md:space-y-0 md:space-x-4">
    <!-- Primera Sección -->
    <div class="bg-white md:w-1/2 flex">
        <div class="md:w-1/2 p-4 flex flex-col justify-center">
            <h2 class="text-lg font-semibold text-gray-700 uppercase">Muebles</h2>
            <h3 class="text-2xl font-bold text-gray-900">HASTA 35% OFF</h3>
            <p class="text-lg text-gray-700">Y 6X SIN INTERÉS</p>
            <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">VER OFERTAS</button>
        </div>
        
        <div class="w-full h-64 md:w-1/2">
            <img src="{% static 'images/png/promocion/3a.png' %}" alt="Imagen promocional" class="w-full h-full object-cover">
        </div>
    </div>
    <!-- Segunda Sección -->
    <div class="bg-white md:w-1/2 flex">
        <div class="md:w-1/2 p-4 flex flex-col justify-center">
            <h2 class="text-lg font-semibold text-gray-700 uppercase">Frutas y Verduras</h2>
            <h3 class="text-2xl font-bold text-gray-900">HASTA 35% OFF</h3>
            <p class="text-lg text-gray-700"></p>
            <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">VER OFERTAS</button>
        </div>
        <div class="w-full h-64 md:w-1/2">
            <img src="{% static 'images/png/promocion/4a.png' %}" alt="Imagen promocional" class="w-full h-full object-cover">
        </div>
    </div>
</div>
<br>
<section class="w-full flex justify-center">
<div class="bg-white pb-8 w-full max-w-4xl">
    <div class="flex items-center mb-6 m-4">
        <h2 class="text-2xl font-bold text-gray-800 mr-4">Solo por Hoy</h2>
    </div>
    <div class="relative">
        <div class="overflow-hidden py-2">
            <div id="productCarousel4" class="flex transition-transform duration-300 ease-in-out">
                <!-- Las tarjetas de productos se generarán dinámicamente aquí -->
            </div>
        </div>
        <button id="prevProduct4"
            class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 z-10"
            aria-label="Productos anteriores">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <button id="nextProduct4"
            class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300"
            aria-label="Productos siguientes">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
</div> 
</section>
<br>
<div class="flex flex-col md:flex-row w-full max-w-6xl mx-auto space-y-4 md:space-y-0 md:space-x-4">
    <!-- Primera Sección -->
    <div class="bg-white md:w-1/2 flex">
        <div class="md:w-1/2 p-4 flex flex-col justify-center">
            <h2 class="text-lg font-semibold text-gray-700 uppercase">Zapatillas</h2>
            <h3 class="text-2xl font-bold text-gray-900">HASTA 35% OFF</h3>
            <p class="text-lg text-gray-700">Y 6X SIN INTERÉS</p>
            <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">VER OFERTAS</button>
        </div>
        <div class="w-full h-64 md:w-1/2">
            <img src="{% static 'images/png/promocion/1a.png' %}" alt="Imagen promocional" class="w-full h-full object-cover">
        </div>
    </div>

    <!-- Segunda Sección -->
    <div class="bg-white md:w-1/2 flex">
        <div class="md:w-1/2 p-4 flex flex-col justify-center">
            <h2 class="text-lg font-semibold text-gray-700 uppercase">Teléfonos</h2>
            <h3 class="text-2xl font-bold text-gray-900">HASTA 35% OFF</h3>
            <p class="text-lg text-gray-700">Y 6X SIN INTERÉS</p>
            <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">VER OFERTAS</button>
        </div>
        <div class="w-full h-64 md:w-1/2">
            <img src="{% static 'images/png/promocion/2a.png' %}" alt="Imagen promocional" class="w-full h-full object-cover">
        </div>
    </div>
</div>
<br>
<div class="flex justify-center items-center p-5">
    <div class="flex flex-col sm:flex-row sm:space-x-4 overflow-x-auto w-full sm:justify-center">
        <div id="contenedor-publicaciones4" class="w-full sm:w-auto mb-2"></div>
        <div id="contenedor-publicaciones5" class="w-full sm:w-auto mb-2"></div>
        <div id="contenedor-publicaciones6" class="w-full sm:w-auto mb-2"></div>
    </div>
</div>
<br>
<section class="bg-white border mx-auto max-w-6xl p-4">
    <a href="#" class="px-1 text-2xl font-bold mb-4 block">Categorías</a>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/1.png' %}" alt="Tecnología y Electrónica" class="h-8 w-8 mr-2">
                <p>Tecnología y Electrónica</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/2.png' %}" alt="Hogar y Muebles" class="h-8 w-8 mr-2">
                <p>Hogar y Muebles</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/3.png' %}" alt="Alimentos y Bebidas" class="h-8 w-8 mr-2">
                <p>Alimentos y Bebidas</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/4.png' %}" alt="Moda y Accesorios" class="h-8 w-8 mr-2">
                <p>Moda y Accesorios</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/5.png' %}" alt="Salud y Belleza" class="h-8 w-8 mr-2">
                <p>Salud y Belleza</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/6.png' %}" alt="Automotriz" class="h-8 w-8 mr-2">
                <p>Automotriz</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/7.png' %}" alt="Deportes y Fitness" class="h-8 w-8 mr-2">
                <p>Deportes y Fitness</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/8.png' %}" alt="Bebés y Niños" class="h-8 w-8 mr-2">
                <p>Bebés y Niños</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/9.png' %}" alt="Mascotas" class="h-8 w-8 mr-2">
                <p>Mascotas</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/10.png' %}" alt="Viajes y Turismo" class="h-8 w-8 mr-2">
                <p>Viajes y Turismo</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/11.png' %}" alt="Herramientas y Construcción" class="h-8 w-8 mr-2">
                <p>Herramientas y Construcción</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/12.png' %}" alt="Libros y Música" class="h-8 w-8 mr-2">
                <p>Libros y Música</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/13.png' %}" alt="Servicios" class="h-8 w-8 mr-2">
                <p>Servicios</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/14.png' %}" alt="Joyería y Relojes" class="h-8 w-8 mr-2">
                <p>Joyería y Relojes</p>
            </a>
        </div>
        <div class="flex items-center mb-1">
            <a href="#" class="py-2 rounded-lg shadow-md flex items-center w-full hover:bg-gray-100 transition duration-300">
                <img src="{% static 'images/png/categorias/15.png' %}" alt="Papelería y Oficina" class="h-8 w-8 mr-2">
                <p>Papelería y Oficina</p>
            </a>
        </div>
    </div>
</section>
<br>


{% endblock %}