{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
    <style>
        #map {
            height: 600px;  /* Adjust the height as needed */
            width: 100%;
        }
    </style>

<ul>
    <li>
        lista
    </li>
    <li>
        lista
    </li>
    <li>
        lista
    </li>
    <li>
        lista
    </li>
    
</ul>
<div>
    {{ map|safe }}
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock content %}