{% extends 'base.html' %}


  {% block title %}
    Login
  {% endblock title %}
  
  
  

  {% block content %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Ingresa el código que te enviamos</h2>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

      {% if messages %}
            <div id="messages" style="display: none;">
                {% for message in messages %}
                    <div data-message="{{ message }}" data-tags="{{ message.tags }}"></div>
                {% endfor %}
            </div>
        {% endif %}
    <form action="{% url 'token_input' %}" method="post">
        {% csrf_token %}
        <label for="token">Ingrese el Token de Verificación:</label><br>
        <input type="text" id="token" name="token" required  autocomplete="off" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><br><br>
        <button type="submit" class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500">Verificar</button>
    </form>
    

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          var messageContainer = document.getElementById('messages');
          if (messageContainer) {
              var messages = messageContainer.children;
              for (var i = 0; i < messages.length; i++) {
                        var message = messages[i].dataset.message;
                        var tags = messages[i].dataset.tags;
                        
    
                        
                        if (tags.includes('danger')) {
                            icon = 'error'; //icono de error
                        } else if (tags.includes('success')) {
                            icon = 'success'; //icono de correcto
                        } else if (tags.includes('warning')) {
                            icon = 'question'; //icono de pregunta
                        } else if (tags.includes('info')) {
                            icon = 'info'; //icono de info
                        } 
    
                        notificacionSwal('', message, icon, 'OK');
                    }
            }
        });
        </script>

    {% endblock %}

