{% extends 'base.html' %}

{% block content %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<!-- Breadcrumb -->
<nav class="flex text-gray-700 text-sm" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <!-- Inicio -->
        <li class="inline-flex items-center">
            <a href="{% url 'index' %}" class="inline-flex items-center text-gray-500 hover:text-blue-600">
                <svg class="w-4 h-4 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M10 20a1 1 0 01-1-1V8.414L2.293 14.293a1 1 0 01-1.414-1.414l8-8a1 1 0 011.414 0l8 8a1 1 0 01-1.414 1.414L11 8.414V19a1 1 0 01-1 1z"/>
                </svg>
                Inicio
            </a>
        </li>
        <!-- Separador -->
        <li>
            <div class="flex items-center">
                <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 18l6-6-6-6"></path>
                </svg>
            </div>
        </li>
        <!-- Mis comercios -->
        <li class="inline-flex items-center">
            <a href="{% url 'lista_comercios' %}" class="text-gray-500 hover:text-blue-600">
                Mis comercios
            </a>
        </li>
        <!-- Separador -->
        <li>
            <div class="flex items-center">
                <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 18l6-6-6-6"></path>
                </svg>
            </div>
        </li>
        <!-- Ofertas -->
        <li class="inline-flex items-center">
            <a href="{% url 'mis_ofertas' %}" class="text-gray-500 hover:text-blue-600">
                Mis ofertas
            </a>
        </li>
        <!-- Separador -->
        <li>
            <div class="flex items-center">
                <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 18l6-6-6-6"></path>
                </svg>
            </div>
        </li>
        <!-- Página actual (sin enlace) -->
        <li class="inline-flex items-center">
            <span class="text-gray-400">Editar oferta</span>
        </li>
    </ol>
</nav>


<div class="max-w-2xl mx-auto bg-white p-5 rounded-md shadow-md">
    {% if messages %}
    <div id="messages" style="display: none;">
        {% for message in messages %}
        <div data-message="{{ message }}" data-tags="{{ message.tags }}"></div>
        {% endfor %}
    </div>
    {% endif %}

    {% if form.non_field_errors %}
    <div class="text-red-500 mb-4">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="max-w-4xl mx-auto px-4 py-6 bg-white shadow-md rounded-lg">
        <h1 class="text-2xl font-bold mb-4">Editar Oferta</h1>
        
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Campo para el título de la oferta -->
            <div class="mb-4">
                <label for="titulo" class="block text-gray-700 font-bold mb-2">Título de la Oferta:</label>
                <input type="text" name="titulo" id="titulo" value="{{ oferta.titulo }}" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            
            <!-- Campo para la descripción -->
            <div class="mb-4">
                <label for="descripcion" class="block text-gray-700 font-bold mb-2">Descripción:</label>
                <textarea name="descripcion" id="descripcion" rows="4" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">{{ oferta.descripcion }}</textarea>
            </div>
            
            <!-- Campo para la imagen -->
            <div class="mb-4">
                <label for="imagen" class="block text-gray-700 font-bold mb-2">Imagen:</label>
                <input type="file" name="imagen" id="imagen" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                {% if oferta.imagen %}
                <img src="{{ oferta.imagen.url }}" alt="{{ oferta.titulo }}" class="w-32 h-32 object-cover mt-4">
                {% endif %}
            </div>
            
            <!-- Campo para el precio normal -->
            <div class="mb-4">
                <label for="precio_normal" class="block text-gray-700 font-bold mb-2">Precio Normal:</label>
                <input type="number" name="precio_normal" id="precio_normal" value="{{ oferta.precio_normal }}" step="0.01" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            
            <!-- Campo para el precio en oferta -->
            <div class="mb-4">
                <label for="precio_oferta" class="block text-gray-700 font-bold mb-2">Precio en Oferta:</label>
                <input type="number" name="precio_oferta" id="precio_oferta" value="{{ oferta.precio_oferta }}" step="0.01" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            
            <!-- Campo para la fecha de inicio -->
            <div class="mb-4">
                <label for="fecha_inicio" class="block text-gray-700 font-bold mb-2">Fecha de Inicio:</label>
                <input type="date" name="fecha_inicio" id="fecha_inicio" value="{{ oferta.fecha_inicio|date:'Y-m-d' }}" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            
            <!-- Campo para la fecha de fin -->
            <div class="mb-4">
                <label for="fecha_fin" class="block text-gray-700 font-bold mb-2">Fecha de Fin:</label>
                <input type="date" name="fecha_fin" id="fecha_fin" value="{{ oferta.fecha_fin|date:'Y-m-d' }}" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            
            <!-- Botones para guardar o cancelar -->
            <div class="flex justify-end gap-4">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white font-bold rounded-md hover:bg-blue-600">Guardar Cambios</button>
                <a href="{% url 'mis_ofertas' %}" class="px-4 py-2 bg-gray-300 text-gray-700 font-bold rounded-md hover:bg-gray-400">Cancelar</a>
            </div>
        </form>
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Array para almacenar los productos seleccionados
        var productosSeleccionados = [];

        // Búsqueda de productos mediante AJAX
        $('#buscar_producto').on('input', function () {
            var query = $(this).val();
            if (query) {
                $.ajax({
                    url: '/oferta/buscar-productos/',
                    data: {
                        'query': query
                    },
                    success: function (data) {
                        $('#resultados_productos').html(''); // Limpiar resultados anteriores
                        for (var i = 0; i < data.length; i++) {
                            $('#resultados_productos').append('<div class="producto-item p-2 cursor-pointer hover:bg-gray-100" data-id="' + data[i].id + '">' + data[i].nombre + '</div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error en la solicitud AJAX:', status, error);
                    }
                });
            } else {
                $('#resultados_productos').html(''); // Limpiar si no hay texto
            }
        });

        // Evento para seleccionar un producto
        $(document).on('click', '.producto-item', function () {
            var productoId = $(this).data('id');

            // Verifica si el producto ya está seleccionado
            if (!productosSeleccionados.includes(productoId)) {
                productosSeleccionados.push(productoId); // Agrega el ID del producto al array
                mostrarProductosSeleccionados();
            }

            $('#buscar_producto').val(''); // Limpiar el campo de búsqueda
            $('#resultados_productos').html(''); // Limpiar resultados
        });

        // Función para mostrar productos seleccionados
        function mostrarProductosSeleccionados() {
            $('#productos_seleccionados').html(''); // Limpiar el contenedor antes de mostrar
            var ids = []; // Array para almacenar los IDs de los productos seleccionados
            for (var i = 0; i < productosSeleccionados.length; i++) {
                var productoId = productosSeleccionados[i];
                ids.push(productoId); // Agrega el ID al array de IDs
                $('#productos_seleccionados').append(`
                    <div class="bg-gray-200 p-2 rounded-md flex items-center mr-2 mb-2" data-id="${productoId}">
                        <span>${productoId} (Nombre del producto)</span>
                        <button class="eliminar-producto ml-2 text-red-600">x</button>
                    </div>
                `);
            }
            // Actualizar el valor del campo oculto con los IDs separados por comas
            $('#productos_seleccionados_input').val(ids.join(','));
        }

        // Evento para eliminar un producto seleccionado
        $(document).on('click', '.eliminar-producto', function () {
            var productoId = $(this).parent().data('id');
            productosSeleccionados = productosSeleccionados.filter(function (id) {
                return id !== productoId; // Filtra el ID que se está eliminando
            });
            mostrarProductosSeleccionados(); // Actualiza la visualización
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        var messageContainer = document.getElementById('messages');
        if (messageContainer) {
            var messages = messageContainer.children;
            for (var i = 0; i < messages.length; i++) {
                var message = messages[i].dataset.message;
                var tags = messages[i].dataset.tags;
                var icon = 'info'; // Default icon

                if (tags.includes('danger') || tags.includes('error')) {
                    icon = 'error'; // Error icon
                } else if (tags.includes('success')) {
                    icon = 'success'; // Success icon
                } else if (tags.includes('warning')) {
                    icon = 'warning'; // Warning icon
                } else if (tags.includes('info')) {
                    icon = 'info'; // Info icon
                }

                Swal.fire({
                    text: message,
                    icon: icon,
                    confirmButtonText: 'OK'
                });
            }
        }
    });
</script>

{% endblock %}