{% extends 'base.html' %}

{% block content %}


<style>
    .img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border:4px solid #9acd32;
    }
</style>

<div class="min-h-screen flex flex-col bg-gray-100">
    <!-- Breadcrumb -->
    <nav class="flex text-gray-700 text-sm m-2" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <!-- Inicio -->
            <li class="inline-flex items-center">
                <a href="{% url 'index' %}" class="inline-flex items-center text-gray-500 hover:text-blue-600">
                    <svg class="w-4 h-4 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M10 20a1 1 0 01-1-1V8.414L2.293 14.293a1 1 0 01-1.414-1.414l8-8a1 1 0 011.414 0l8 8a1 1 0 01-1.414 1.414L11 8.414V19a1 1 0 01-1 1z"/>
                    </svg>
                    Inicio
                </a>
            </li>
            <!-- Separador -->
            <li>
                <div class="flex items-center">
                    <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M9 18l6-6-6-6"></path>
                    </svg>
                </div>
            </li>
            <!-- Productos -->
            <li class="inline-flex items-center">
                <a href="{% url 'lista_comercios' %}" class="text-gray-500 hover:text-blue-600">
                    Mis comercios
                </a>
            </li>
            <!-- Separador -->
            <li>
                <div class="flex items-center">
                    <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M9 18l6-6-6-6"></path>
                    </svg>
                </div>
            </li>
            <!-- Página actual (sin enlace) -->
            <li class="inline-flex items-center">
                <span class="text-gray-400">Mis ofertas</span>
            </li>
        </ol>
    </nav>

    <div class="max-w-7xl mx-4 px-2 sm:px-6 lg:px-6 py-2">
        {% if messages %}
        <div id="messages" style="display: none;">
            {% for message in messages %}
                <div data-message="{{ message }}" data-tags="{{ message.tags }}"></div>
            {% endfor %}
        </div>
        {% endif %}

        <h2 class="mt-2 mb-6 text-center text-3xl font-extrabold text-gray-900">
            <span class="section-heading-upper">Mis ofertas</span>
        </h2>

        <!-- Botón Crear una oferta alineado a la izquierda -->
        <div class="mb-6">
            <a href="{% url 'crear_oferta' %}" 
            class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600">
                Crear una oferta
            </a>
        </div>

        <!-- Contenedor de ofertas -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for oferta in ofertas %}
            <div class="bg-white p-5 rounded-lg shadow-md relative">
                {% if oferta.imagen %}
                <img src="{{ oferta.imagen.url }}" alt="{{ oferta.titulo }}" class="w-full h-32 object-cover mb-4 rounded-lg">
                {% else %}
                <img src="{{ MEDIA_URL }}default_image.png" alt="Imagen por defecto" class="w-full h-32 object-cover mb-4 rounded-lg">
                {% endif %}

                <!-- Título de la oferta -->
                <h2 class="text-xl font-semibold mb-2">{{ oferta.titulo }}</h2>
                
                <!-- Descripción de la oferta -->
                <p class="text-gray-600 mb-4">{{ oferta.descripcion }}</p>
                
                <!-- Mostrar productos -->
                <div class="mb-2">
                    <h3 class="font-bold text-gray-700">Productos:</h3>
                    <ul class="list-disc pl-5">
                        {% for producto in oferta.productos.all %}
                        <li>{{ producto.nombre }}</li>
                        {% endfor %}
                    </ul>
                </div>
                
                <!-- Mostrar oferente -->
                <div class="mb-2">
                    <p class="font-bold text-gray-700">Comercio:</p>
                    <p>{{ oferta.oferente.nombrecomercio }}</p>
                </div>

                <!-- Mostrar precios -->
                <div class="flex justify-between items-center mb-4">
                    <p class="text-gray-600 line-through">Precio normal: ${{ oferta.precio_normal }}</p>
                    <p class="text-red-500 font-bold">Oferta: ${{ oferta.precio_oferta }}</p>
                </div>

                <!-- Mostrar fechas de la oferta -->
                <div class="text-sm text-gray-500">
                    <p>Desde: {{ oferta.fecha_inicio|date:"d/m/Y"}}</p>
                    <p>Hasta: {{ oferta.fecha_fin|date:"d/m/Y"}}</p>
                </div>

                <!-- Mostrar si la oferta está vencida -->
                {% if oferta.fecha_fin < hoy %}
                <div class="absolute top-4 right-4 bg-red-500 text-white text-xs px-2 py-1 rounded">
                    Oferta vencida
                </div>
                {% endif %}
                <div class="flex justify-between mt-4">
                    <a href="{% url 'editar_oferta' oferta.id %}"
                        class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none">
                        Editar
                    </a>

                   <!-- Formulario para eliminar la oferta -->
                <form action="{% url 'eliminar_oferta' oferta.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none">
                        Eliminar
                    </button>
                </form>
                    
                  </div>
            </div>
            {% empty %}
            <div class="ml-16 text-center mx-auto text-gray-500 font-medium text-xl">
                No tienes ofertas registradas.
            </div>
            {% endfor %}
        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function() {
      var messageContainer = document.getElementById('messages');
      if (messageContainer) {
          var messages = messageContainer.children;
          for (var i = 0; i < messages.length; i++) {
                    var message = messages[i].dataset.message;
                    var tags = messages[i].dataset.tags;
                    

                    
                    if (tags.includes('danger')) {
                        icon = 'error'; //icono de error
                    } else if (tags.includes('success')) {
                        icon = 'success'; //icono de correcto
                    } else if (tags.includes('warning')) {
                        icon = 'question'; //icono de pregunta
                    } else if (tags.includes('info')) {
                        icon = 'info'; //icono de info
                    } 

                    notificacionSwal('', message, icon, 'OK');
                }
        }
    });
    </script>
  
{% endblock %}
