{% extends 'base.html' %}

{% block title %}
    Mis comercios
{% endblock title %}

{% block content %}

<div class="min-h-screen flex flex-col bg-gray-100">
  <!-- Breadcrumb -->
  <nav class="flex text-gray-700 text-sm px-6 py-4" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <!-- Inicio -->
      <li class="inline-flex items-center">
        <a href="{% url 'index' %}" class="inline-flex items-center text-gray-500 hover:text-blue-600">
          <svg class="w-4 h-4 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M10 20a1 1 0 01-1-1V8.414L2.293 14.293a1 1 0 01-1.414-1.414l8-8a1 1 0 011.414 0l8 8a1 1 0 01-1.414 1.414L11 8.414V19a1 1 0 01-1 1z"/>
          </svg>
          Inicio
        </a>
      </li>
      <!-- Separador -->
      <li>
        <div class="flex items-center">
          <svg class="w-4 h-4 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M9 18l6-6-6-6"></path>
          </svg>
        </div>
      </li>
      <!-- Página actual (sin enlace) -->
      <li class="inline-flex items-center">
        <span class="text-gray-400">Mis comercios</span>
      </li>
    </ol>
  </nav>

  <!-- Título -->
  <h2 class="mt-2 mb-6 text-center text-3xl font-extrabold text-gray-900">
    <span class="section-heading-upper">Mis comercios </span>                        
  </h2> 

  <!-- Botones -->
  <div class="flex justify-start mb-6 space-x-4 px-6">
    <a href="{% url 'crear_oferta' %}" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">Crear una oferta</a>
    <a href="{% url 'mis_ofertas' %}" class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600">Mis ofertas</a>
    <a href="{% url 'verificar_cuit' %}" class="bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-green-600">Añadir otro comercio</a>
  </div>

  <!-- Tabla de comercios -->
  <div class="overflow-x-auto px-6 py-4">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre comercio</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CUIT</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dirección</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Habilitado</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Opciones</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% if comercios_con_ubicaciones %}
          {% for item in comercios_con_ubicaciones %}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.comercio.nombrecomercio }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.comercio.cuit }}</td>
              <td class="px-6 py-4 whitespace-nowrap">
                {% for ubicacion in item.ubicaciones %}
                  {{ ubicacion.calle }} {{ ubicacion.altura }}
                {% empty %}
                  Sin ubicación
                {% endfor %}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.comercio.habilitado|yesno:"Sí,No" }}</td>
              <td class="px-6 py-4 whitespace-nowrap">
                <a href="{% url 'perfil_comercio' item.comercio.id %}" class="text-gray-100 bg-gray-500 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Ver perfil</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5" class="px-6 py-4 text-center">No tienes comercios registrados.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>


{% endblock content %}