{% extends 'base.html' %}

{% block title %}
    Verificar Cuit
{% endblock title %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">    

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        {% if messages %}
            <div id="messages" style="display: none;">
                {% for message in messages %}
                    <div data-message="{{ message }}" data-tags="{{ message.tags }}"></div>
                {% endfor %}
            </div>
        {% endif %}

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var messageContainer = document.getElementById('messages');
                if (messageContainer) {
                    var messages = messageContainer.children;
                    for (var i = 0; i < messages.length; i++) {
                        var message = messages[i].dataset.message;
                        var tags = messages[i].dataset.tags;
                        var icon = 'info'; // Default icon
                        
                        if (tags.includes('danger') || tags.includes('error')) {
                            icon = 'error'; // Error icon
                        } else if (tags.includes('success')) {
                            icon = 'success'; // Success icon
                        } else if (tags.includes('warning')) {
                            icon = 'warning'; // Warning icon
                        } else if (tags.includes('info')) {
                            icon = 'info'; // Info icon
                        }
                        
                        Swal.fire({
                            text: message,
                            icon: icon,
                            confirmButtonText: 'OK'
                        });
                    }
                }
            });
        </script>

        <form class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl space-y-4 mx-auto" method="POST">
            <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Verificar CUIT</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-between mt-4">
                <button type="button" id=""
                  class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none">
                  Anterior
                </button>
                <button type="submit" id=""
                  class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none btn btn-primary">
                  Siguiente
                </button>
            </div>        
        </form>
    </div>
</div>
{% endblock content %}
