<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image" href="/img/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Lemon&family=Metal+Mania&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/2b59012a5e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/estilo1.css">

    <title>AQUILES GYM</title>
</head>

<body>
    <section id="content-buscar">
        <form action="/cliente/busquedaFallida.html" autocomplete="off">
            <input class="label" type="search" name="buscar" id="buscar" maxlength="30" required
                placeholder="¿Qué desea buscar?">
            <button class="boton" type="submit">Buscar</button>
        </form>
    </section>
    <header>

        <a href="/index.html"><img class="logo" src="img/logo.jpg" alt="Logo" width="100"></a>
        <h1>AQUILES GYM</h1>
    </header>

    <nav>
        <ul class="menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="/ciudadano/login.html">Rutinas</a></li>
            <li><a href="/ciudadano/login.html">Horarios</a></li>
            <li><a href="/ciudadano/login.html">Productos</a></li>
            <li><a href="/ciudadano/login.html">Clases</a></li>
            <li><a href="/ciudadano/login.html">Contacto</a></li>
            <li><a href="/ciudadano/login.html">Inicio sesion</a></li>

        </ul>
    </nav>
    <p class="parrafoAnimado"><span class="moving-text">SENTÍ LA PASIÓN DE ENTRENAR</span></p>

    <main>
        <section>
            <article>
            </article>
        </section>

        <section>
            <h2>¡Bienvenido a Aquiles GYM!</h2><br><br><br>
            <p>¡Donde tus metas se vuelven realidad! Nuestro gimnasio ofrece una amplia <br> gama de equipos y clases
                para ayudarte a alcanzar tus objetivos de acondicionamiento físico.</p>

        </section>

        <section>
            <h2>Nuestros Servicios</h2><br><br><br>
            <p>Ofrecemos una variedad de servicios, incluyendo:</p>
            <ul>
                <li>Área de musculación</li>
                <li>Cardio y aeróbicos</li>
                <li>Aerobox</li>
                <li>Boxeo recreativo y mucho más</li>
            </ul>
        </section>

        <nav>
            <ul class="menuVertical">
                <li><a href="/ciudadano/login.html">Sucursales</a></li>
                <li><a href="/ciudadano/login.html">Clases</a></li>
                <li><a href="/ciudadano/login.html">Pago de Mensualidad</a></li>
                <li><a href="/ciudadano/login.html">Consultas</a></li>
                <li><a href="/ciudadano/login.html">Opiniones</a></li>
            </ul>

        </nav>

        <nav>
            <div id="tarjetas">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/img/instalaciones1.jpg" class="card-img-top" alt="Imagen 1">
                            <div class="card-body">
                                <p class="card-text">Conocé nuestras instalaciones</p>
                                <a href="#" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="/img/suplementos1.jpg" class="card-img-top" alt="Imagen 2">
                            <div class="card-body">
                                <p class="card-text">Conocé nuestros productos</p>
                                <a href="/ciudadano/login.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="/img/trasformacion2.jpg" class="card-img-top" alt="Imagen 3">
                            <div class="card-body">
                                <p class="card-text">Transformaciones de clientes</p>
                                <a href="/ciudadano/login.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="/img/articulosdeportivos.jpg" class="card-img-top" alt="Imagen 4">
                            <div class="card-body">
                                <p class="card-text">Articulos deportivos</p>
                                <a href="/ciudadano/login.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="/img/transformacion1}.jpg" class="card-img-top" alt="Imagen 5">
                            <div class="card-body">
                                <p class="card-text">Transformaciones de clientes</p>
                                <a href="/ciudadano/login.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card">
                            <img src="/img/logo300.jpg" class="card-img-top" alt="Imagen 6">
                            <div class="card-body">
                                <p class="card-text">Registrate y creá tu cuenta</p>
                                <a href="/ciudadano/registro.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <section class="contacto">
            <p id="Contacto"> ¿Qerés trabajar con nosotros?<a href="/propietario/solicitarEmpleo.html">Ingresa aquí</a>
            <p id="Contacto"> ¿Tienes alguna pregunta o comentario? <a href="/ciudadano/login.html">¡Contáctanos!</a>
            <p id="Contacto"> Email:<a href="">info@aquilesgym.com</a>
            <p id="Contacto"> Teléfono:<a href="">3834567890</a>
        </section>

        <section>
            <h3>Nuestras redes</h3>
            <div class="social-icons">
                <a class="social-icon" href="https://www.facebook.com/profile.php?id=100063702962653"><i
                        class="fab fa-facebook-square"></i></a>
                <a class="social-icon" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a class="social-icon" href="https://api.whatsapp.com/send?phone=123456789"><i
                        class="fab fa-whatsapp"></i></a>
            </div>
        </section>

    </main>
    <footer>
        <p>&copy; 2023 Aquiles GYM - Todos los derechos reservados</p>
    </footer>
</body>

</html>