<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Persona</title>
</head>
<body>
    <h1>Registro de Persona</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.identificacion.errors }}
            <label for="{{ form.identificacion.id_for_label }}">DNI:</label>
            {{ form.identificacion }}
        </div>
        <br>
        <div>
            {{ form.nombres.errors }}
            <label for="{{ form.nombres.id_for_label }}">Nombres:</label>
            {{ form.nombres }}
        </div>
        <br>
        <div>
            {{ form.apellidos.errors }}
            <label for="{{ form.apellidos.id_for_label }}">Apellidos:</label>
            {{ form.apellidos }}
        </div>
        <br>
        <div>
            <label for="genero">Género</label>
            <select id="genero" name="genero" required>
                <option value="masculino">Masculino</option> <!-- selected para selección predeterminada-->
                <option value="femenino">Femenino</option>
                <option value="no_binario">No binario</option>
                <option value="indefinido" selected>---------</option>
            </select>
        </div>
        <br>
        <div>
            <label for="foto">Foto</label>
            <input type="file" name="foto" id="foto" required>
        </div>
        <br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
