{% extends "administracion/base_admin.html" %}

{% block content %}

<head>
<!--tailwind-->
<script src="https://cdn.tailwindcss.com"></script>
</head>


<div class="container mx-auto text-center">
  <!-- Título centrado -->
  <h1 class="text-2xl font-bold mb-10">Auditoría</h1>

  <!-- Contenedor de las tarjetas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-items-center">
      <!-- Card for Usuarios -->
      <a href="{% url 'auditoria_usuarios' %}" class="bg-white rounded-lg shadow-md hover:shadow-lg p-6 text-center transform hover:scale-105 transition">
          <h2 class="text-xl font-semibold text-gray-800">Usuarios</h2>
      </a>

      <!-- Card for Personas -->
      <a href="{% url 'auditoria_personas' %}" class="bg-white rounded-lg shadow-md hover:shadow-lg p-6 text-center transform hover:scale-105 transition">
          <h2 class="text-xl font-semibold text-gray-800">Personas</h2>
      </a>

      <!-- Card for Ofertas -->
      <a href="{% url 'auditoria_ofertas' %}" class="bg-white rounded-lg shadow-md hover:shadow-lg p-6 text-center transform hover:scale-105 transition">
          <h2 class="text-xl font-semibold text-gray-800">Ofertas</h2>
      </a>

      <!-- Card for Comercios -->
      <a href="{% url 'auditoria_comercios' %}" class="bg-white rounded-lg shadow-md hover:shadow-lg p-6 text-center transform hover:scale-105 transition">
          <h2 class="text-xl font-semibold text-gray-800">Comercios</h2>
      </a>

      <!-- Card for Productos -->
      <a href="{% url 'auditoria_productos' %}" class="bg-white rounded-lg shadow-md hover:shadow-lg p-6 text-center transform hover:scale-105 transition">
          <h2 class="text-xl font-semibold text-gray-800">Productos</h2>
      </a>

      <!-- Card for Categorias -->
      <a href="{% url 'auditoria_categorias' %}" class="bg-white rounded-lg shadow-md hover:shadow-lg p-6 text-center transform hover:scale-105 transition">
          <h2 class="text-xl font-semibold text-gray-800">Categorías</h2>
      </a>

      <!-- Card for Subcategorias -->
      <a href="{% url 'auditoria_subcategorias' %}" class="bg-white rounded-lg shadow-md hover:shadow-lg p-6 text-center transform hover:scale-105 transition">
          <h2 class="text-xl font-semibold text-gray-800">Subcategorías</h2>
      </a>
  </div>
</div>

{% endblock %}


