{% extends "administracion/base_admin.html" %}

{% block content %}

<head>
  <!--tailwind-->
  <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <div class="container-fluid justify-content-center">
    <h2 class="text-center text-black">Auditoría categorias</h2>

    <div class="d-flex justify-content-end">
        <a href="{% url 'auditoria_categorias' %}" class="btn btn-link">Mostrar todo el listado</a>
    </div>

    <div class="table-responsive">
        <table id="datatablesSimple" class="table table-bordered table-hover">
            <thead>
                <tr>

                    <th>Nombre categoría</th>
                    <th>Fecha creación</th>
                    <th>Usuario creación</th>
                    <th>Usuario modificación</th>
                    <th>Fecha modificación</th>
                    <th>Usuario eliminación</th>
                    <th>Fecha eliminación</th>

                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre|default_if_none:"-" }}</td>
                    <td>{{ categoria.fecha_creacion|default_if_none:"-" }}</td>
                    <td>{{ categoria.usuario_creacion|default_if_none:"-" }}</td>
                    <td>{{ categoria.usuario_modificacion|default_if_none:"-" }}</td>
                    <td>{{ categoria.fecha_modificacion|default_if_none:"-" }}</td>
                    <td>{{ categoria.usuario_eliminacion|default_if_none:"-" }}</td>
                    <td>{{ categoria.fecha_eliminacion|default_if_none:"-" }}</td>
                  
                        
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>



    <script>
        $(document).ready(function () {
           
            function getCSRFToken() {
                return $('meta[name="csrf-token"]').attr('content');
            }

            function toggleUserStatus(element) {
                const userId = $(element).data('id');
                const isActive = $(element).is(':checked');
                const url = `{% url 'toggle_oferente_status' 0 %}`.replace('0', userId);

                $.ajax({
                    url: url,
                    method: "POST",
                    headers: { 'X-CSRFToken': getCSRFToken() },
                    data: { is_active: isActive },
                    success: function (response) {
                        // Recargar la página para mostrar el mensaje de éxito
                        location.reload();
                    },
                    error: function (xhr) {
                        alert("Error al actualizar el estado del oferente: " + xhr.responseText);
                    }
                });
            }

            $(document).on('change', '.toggle-active', function () {
                toggleUserStatus(this);
            });
        });
    </script>
</div>

{% endblock %}