{% extends "administracion/base_admin.html" %}

{% block content %}
<div class="container-fluid justify-content-center">
    <h2 class="text-center text-black">AUDITORÍA</h2>

    <div id="layoutSidenav_content">
    
    
        <div class="row g-4 m-4 mx-5">
            
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body d-flex align-items-center">
                        
                        <div>
                            <h5 class="card-title">Usuarios</h5>
                            <i class="fa fa-user me-3"></i>
                            
                            <p class="card-text">1</p>
                            <a href="{% url 'auditoria_usuarios' %}" class="text-white">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body d-flex align-items-center">
                        
                        <div>
                            <h5 class="card-title">Personas</h5>
                            <i class="fa fa-users me-3"></i>
                            <p class="card-text">1</p>
                            <a href="{% url 'auditoria_ofertas' %}" class="text-white">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body d-flex align-items-center">
                       
                        <div>
                            <h5 class="card-title">Ofertas</h5>
                            <i class="fa fa-shopping-cart me-3"></i>
                            <p class="card-text">0</p>
                            <a href="{% url 'auditoria_ofertas' %}" class="text-white">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body d-flex align-items-center">
                        
                        <div>
                            <h5 class="card-title">Comercios</h5>
                            <i class="fa fa-briefcase me-3"></i>
                            <p class="card-text">1</p>
                            <a href="{% url 'auditoria_comercios' %}" class="text-white">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body d-flex align-items-center">
                        
                        <div>
                            <h5 class="card-title">Productos</h5>
                            <i class="fa fa-box me-3"></i>
                            <p class="card-text">1</p>
                            <a href="{% url 'auditoria_productos' %}" class="text-white">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body d-flex align-items-center">
                        <i class="fa fa-users me-3"></i>
                        <div>
                            <h5 class="card-title">Categorias</h5>
                            <p class="card-text">2</p>
                            <a href="{% url 'auditoria_categorias' %}" class="text-white">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body d-flex align-items-center">
                        <i class="fa fa-users me-3"></i>
                        <div>
                            <h5 class="card-title">Subcategorias</h5>
                            <p class="card-text">2</p>
                            <a href="{% url 'auditoria_subcategorias' %}" class="text-white">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Descuentos Catamarca</div>
                    
                </div>
            </div>
            </footer>
    </div>
    
</div>








{% endblock %}


