{% extends "administracion/base_admin.html" %}

{% block content %}
 <!-- Scripts para DataTables -->





<div class="container-fluid justify-content-center">
    <h2 class="text-center text-black">CATEGORIAS</h2>
    <div class="d-flex justify-content-between mb-3">
        
    </div>
    <div class="d-flex justify-content-end">
        <a href="{% url 'categorias_admin' %}" class="btn btn-link">Mostrar todo el listado</a>
    </div>


    <div class="table-responsive">
        <table id="datatablesSimple" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nombre de la categoría</th>
                    <th>Eliminado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>{{ categoria.eliminado|yesno:"Sí,No" }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            {% if not categoria.eliminado %}
                            <!-- Botón de editar visible solo si la categoria no está eliminada -->
                            <a href="{% url 'editar_categoria_admin' categoria.id %}"
                                class="btn btn-warning">
                                <img src="/media/user/icons8-editar-25.png" alt="">
                            </a>
                            {% else %}
                            <!-- Botón de editar oculto si la categoria está eliminada-->
                            <button class="btn btn-warning" disabled title="Esta categoría está eliminado y no puede ser editada">
                                <img src="/media/user/icons8-editar-25.png" alt="Editar">
                            </button>
                            {% endif %}
                            <!-- Botón de eliminar -->
                            <form action="{% url 'eliminar_categoria_admin' categoria.id %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" 
                                    {% if categoria.eliminado %}disabled{% endif %}>
                                    <img src="/media/user/icons8-eliminar-25.png" alt="">
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Scripts para DataTables -->
    <script>
        $(document).ready(function () {
       
    function getCSRFToken() {
                return $('meta[name="csrf-token"]').attr('content');
            }

            function toggleUserStatus(element) {
    const userId = $(element).data('id');
    const isActive = $(element).is(':checked');
    const url = `{% url 'toggle_oferta_status' 0 %}`.replace('0', userId);

    $.ajax({
        url: url,
        method: "POST",
        headers: { 'X-CSRFToken': getCSRFToken() },
        data: { is_active: isActive },
        success: function (response) {
            // Recargar la página para mostrar el mensaje de éxito
            location.reload();
        },
        error: function (xhr) {
            alert("Error al actualizar el estado del oferente: " + xhr.responseText);
        }
    });
}

            $(document).on('change', '.toggle-active', function () {
                toggleUserStatus(this);
            });
});
    </script>

{% endblock %}