{% extends "administracion/base_admin.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            
            <a href="{% url 'comercios_admin' %}" class="btn btn-link">Volver al listado</a>

            <!-- Formulario -->
            
            <h2 class="text-center mb-4">Registrar Usuario</h2>
            <form method="POST" action="{% url 'registrar_usuario_admin' %}">
                {% csrf_token %}
                
                <!-- Campos del formulario -->
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                
                <!-- Botones -->
                <div class="d-flex justify-content-between">
                    <button type="button" onclick="window.history.back()" class="btn btn-outline-secondary">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success">Registrar Usuario</button>
                </div>
            </form>

                
            
        </div>
    </div>
</div>

{% endblock %}

