{% extends "administracion/base_admin.html" %}

{% block content %}
<div class="container-fluid justify-content-center">
    <h2 class="text-center text-black">SUBCATEGORIAS</h2>

    <div class="d-flex justify-content-end">
        <a href="{% url 'subcategorias_admin' %}" class="btn btn-link">Mostrar todo el listado</a>
    </div>

    <div class="table-responsive">
        <table id="datatablesSimple" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nombre de la Subcategoría</th>
                    <th>Categoría</th>
                    <th>Eliminado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for subcategoria in subcategorias %}
                <tr>
                    <td>{{ subcategoria.nombre }}</td>
                    <td>{{ subcategoria.categoria }}</td>
                    <td>{{ subcategoria.eliminado|yesno:"Sí,No" }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <!-- Botón de editar -->
                            <a href="{% url 'editar_subcategoria_admin' subcategoria.id %}" 
                               class="btn btn-warning {% if subcategoria.eliminado %}disabled{% endif %}" 
                               {% if subcategoria.eliminado %}title="No se puede editar una subcategoria eliminada"{% endif %}>
                                <img src="/media/user/icons8-editar-25.png" alt="">
                            </a>
                            <!-- Botón de eliminar -->
                            <form action="{% url 'eliminar_subcategoria_admin' subcategoria.id %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" 
                                    {% if subcategoria.eliminado %}disabled{% endif %}
                                    {% if subcategoria.eliminado %}title="Esta subcategoría ya está eliminada"{% endif %}>
                                    <img src="/media/user/icons8-eliminar-25.png" alt="">
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
           

            function getCSRFToken() {
                return $('meta[name="csrf-token"]').attr('content');
            }

            function toggleUserStatus(element) {
                const userId = $(element).data('id');
                const isActive = $(element).is(':checked');
                const url = `{% url 'toggle_oferente_status' 0 %}`.replace('0', userId);

                $.ajax({
                    url: url,
                    method: "POST",
                    headers: { 'X-CSRFToken': getCSRFToken() },
                    data: { is_active: isActive },
                    success: function (response) {
                        location.reload();
                    },
                    error: function (xhr) {
                        alert("Error al actualizar el estado del oferente: " + xhr.responseText);
                    }
                });
            }

            $(document).on('change', '.toggle-active', function () {
                toggleUserStatus(this);
            });
        });
    </script>
</div>
{% endblock %}
