{% extends 'base.html' %}

{% block title %}
Registro Persona
{% endblock title %}

<head>
 
  <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>

  <!-- Select 
    <link  href= "static/admin/css/vendor/select2/select2.css" rel="stylesheet">
    <link  href="static/admin/css/autocomplete.css" rel="stylesheet">-->
  <style>
    input,
    select {
      width:max-content;
    }
  </style>

</head>



{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

  <h2 class="mt-10 text-center text-2x1 font-bold leading-9 tracking-tight text-gray-900">Ingresa tu ubicacion</h2>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

    {% if messages %}
    <div id="messages" style="display: none;">
      {% for message in messages %}
      <div data-message="{{ message }}" data-tags="{{ message.tags }}"></div>
      {% endfor %}
    </div>
    {% endif %}
    <br>

    <form class="space-y-10" method="POST">
      <div class="mt-2">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <div id="map" style="height: 400px;width: 600px;"></div>
      <script>
        var map = L.map('map').setView([-28.4689934, -65.7799285], 15);
  
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19
        }).addTo(map);
  
        var marker;
  
        map.on('click', function (e) {
          var lat = e.latlng.lat.toFixed(6);
          var lng = e.latlng.lng.toFixed(6);
  
        console.log('Latitud:', lat, 'Longitud:', lng);  // Agrega este console.log para depuración
  
          if (marker) {
            marker.setLatLng(e.latlng);
          } else {
            marker = L.marker(e.latlng).addTo(map);
          }
  
          document.getElementById('id_latitud').value = lat;
          document.getElementById('id_longitud').value = lng;
        });
      </script>

    

    
    <input type="submit" value="Siguiente"
      class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500">
    </form>


  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {

    // Al cambiar el valor del país
    $(document).ready(function () {
   
    $('#id_pais').change(function () {
        var cod_pais = $(this).val();
        if (cod_pais) {
            $.ajax({
                url: '/persona/ajax/load-provincias/',
                data: {
                    'cod_pais': cod_pais
                },
                success: function (data) {
                    $('#id_provincia').html('');  // Limpia el campo antes de agregar nuevas opciones
                    $('#id_provincia').append('<option value="">Seleccione una provincia</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#id_provincia').append('<option value="' + data[i].cod_pcia + '">' + data[i].nom_pcia + '</option>');
                    }
                }
            });
        } else {
            $('#id_provincia').html('<option value="">Seleccione una provincia</option>');
        }
    });

    // Al cambiar el valor de la provincia
    $('#id_provincia').change(function () {
        var codigo_pcia = $(this).val();
        console.log('Código de provincia seleccionado:', codigo_pcia); 

        if (codigo_pcia) {
            $.ajax({
                url: '/persona/ajax/load-deptos/',
                data: {
                    'cod_pcia': codigo_pcia
                },
                success: function (data) {
                    $('#id_departamento').html('');
                    $('#id_departamento').append('<option value="">Seleccione un departamento</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#id_departamento').append('<option value="' + data[i].cod_depto + '">' + data[i].nom_depto + '</option>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error en la solicitud AJAX:', status, error);
                }
            });
        } else {
            $('#id_departamento').html('<option value="">Seleccione un departamento</option>');
        }
    });

    // Al cambiar el valor del departamento
    $('#id_departamento').change(function () {
        var depto_id = $(this).val();
        if (depto_id) {
            $.ajax({
                url: '/persona/ajax/load-municipios/',
                data: {
                    'depto_id': depto_id
                },
                success: function (data) {
                    $('#id_municipio').html('');
                    $('#id_municipio').append('<option value="">Seleccione un municipio</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#id_municipio').append('<option value="' + data[i].cod_agl + '">' + data[i].nom_agl + '</option>');
                    }
                }
            });
        } else {
            $('#id_municipio').html('<option value="">Seleccione un municipio</option>');
        }
    });
    $('#id_municipio').change(function () {
        var municipio_id = $(this).val();
        if (municipio_id) {
            $.ajax({
                url: '/persona/ajax/load-localidad/',
                data: {
                    'municipio_id': municipio_id
                },
                success: function (data) {
                    $('#id_localidad').html('');
                    $('#id_localidad').append('<option value="">Seleccione una localidad</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#id_localidad').append('<option value="' + data[i].cod_ase + '">' + data[i].nombre + '</option>');
                    }
                }
            });
        } else {
            $('#id_localidad').html('<option value="">Seleccione una localidad</option>');
        }
    });
});
});



</script>


<script>
  $(document).ready(function () {
    $('.select2').select2();

  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var messageContainer = document.getElementById('messages');
    if (messageContainer) {
      var messages = messageContainer.children;
      for (var i = 0; i < messages.length; i++) {
        var message = messages[i].dataset.message;
        var tags = messages[i].dataset.tags;



        if (tags.includes('danger')) {
          icon = 'error'; //icono de error
        } else if (tags.includes('success')) {
          icon = 'success'; //icono de correcto
        } else if (tags.includes('warning')) {
          icon = 'question'; //icono de pregunta
        } else if (tags.includes('info')) {
          icon = 'info'; //icono de info
        }

        notificacionSwal('', message, icon, 'OK');
      }
    }
  });
</script>

{% endblock %}