{% extends 'base.html' %}

{% block title %}
Registro Persona
{% endblock title %}

{% block content %}
<head>
  <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
  
</head>

<link href="https://cdn.tailwindcss.com" rel="stylesheet">

<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<body>



  <div class="flex justify-center items-center min-h-screen bg-gray-100 p-4">
    {% if messages %}
    <div id="messages" style="display: none;">
      {% for message in messages %}
      <div data-message="{{ message }}" data-tags="{{ message.tags }}"></div>
      {% endfor %}
    </div>
    {% endif %}

    <form class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl space-y-4 mx-auto" method="POST">
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Domicilio</h2>
        <p class="mt-2 text-center text-sm text-gray-600">Paso <span id="currentStep">2</span> de 4</p>
    </div>
    <div class="relative pt-1">
        <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
            <div id="progressBar"
                class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500 transition-all duration-500 ease-in-out"
                style="width: 45.6%"></div>
        </div>
    </div>
      {% csrf_token %}
      <!-- Campo País -->
    <div class="mb-4">
        <label for="id_pais" class="block text-sm font-medium text-gray-700">País</label>
        {{ form.pais }}
    </div>

    <!-- Campo Provincia -->
    <div class="mb-4">
        <label for="id_provincia" class="block text-sm font-medium text-gray-700">Provincia</label>
        {{ form.provincia }}
    </div>

    <!-- Campo Departamento -->
    <div class="mb-4">
        <label for="id_departamento" class="block text-sm font-medium text-gray-700">Departamento</label>
        {{ form.departamento }}
    </div>

    <!-- Campo Municipio -->
    <div class="mb-4">
        <label for="id_municipio" class="block text-sm font-medium text-gray-700">Municipio</label>
        {{ form.municipio }}
    </div>

    <!-- Campo Localidad -->
    <div class="mb-4">
        <label for="id_localidad" class="block text-sm font-medium text-gray-700">Localidad</label>
        {{ form.localidad }}
    </div>

    <!-- Campo Barrio -->
    <div class="mb-4">
        <label for="id_barrio" class="block text-sm font-medium text-gray-700">Barrio</label>
        {{ form.barrio }}
    </div>

    <!-- Campo Calle -->
    <div class="mb-4">
        <label for="id_calle" class="block text-sm font-medium text-gray-700">Calle</label>
        {{ form.calle }}
    </div>

    <!-- Campo Altura -->
    <div class="mb-4">
        <label for="id_altura" class="block text-sm font-medium text-gray-700">Altura</label>
        {{ form.altura }}
    </div>

      <div id="map" style="height: 400px; width: 620px;"></div>
      <script>
        var map = L.map('map').setView([-28.4689934, -65.7799285], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map);
        var marker;

        map.on('click', function(e) {
          var lat = e.latlng.lat.toFixed(6);
          var lng = e.latlng.lng.toFixed(6);
          console.log('Latitud:', lat, 'Longitud:', lng);

          if (marker) {
            marker.setLatLng(e.latlng);
          } else {
            marker = L.marker(e.latlng).addTo(map);
          }

          document.getElementById('id_latitud').value = lat;
          document.getElementById('id_longitud').value = lng;
        });
      </script>

<!-- Botones de Navegación -->
            <div class="flex justify-between mt-4">
                <button type="button" id=""
                    class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none">
                    Anterior
                </button>
                <button type="submit" id="Siguiente" value="Siguiente"
                    class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none">
                    Siguiente
                </button>
            </div>    
          </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function() {
      $('#id_pais').change(function() {
        var cod_pais = $(this).val();
        if (cod_pais) {
          $.ajax({
            url: '/persona/ajax/load-provincias/',
            data: { 'cod_pais': cod_pais },
            success: function(data) {
              $('#id_provincia').html('<option value="">Seleccione una provincia</option>');
              for (var i = 0; i < data.length; i++) {
                $('#id_provincia').append('<option value="' + data[i].cod_pcia + '">' + data[i].nom_pcia + '</option>');
              }
            }
          });
        } else {
          $('#id_provincia').html('<option value="">Seleccione una provincia</option>');
        }
      });

      $('#id_provincia').change(function() {
        var codigo_pcia = $(this).val();
        if (codigo_pcia) {
          $.ajax({
            url: '/persona/ajax/load-deptos/',
            data: { 'cod_pcia': codigo_pcia },
            success: function(data) {
              $('#id_departamento').html('<option value="">Seleccione un departamento</option>');
              for (var i = 0; i < data.length; i++) {
                $('#id_departamento').append('<option value="' + data[i].cod_depto + '">' + data[i].nom_depto + '</option>');
              }
            }
          });
        } else {
          $('#id_departamento').html('<option value="">Seleccione un departamento</option>');
        }
      });

      $('#id_departamento').change(function() {
        var depto_id = $(this).val();
        if (depto_id) {
          $.ajax({
            url: '/persona/ajax/load-municipios/',
            data: { 'depto_id': depto_id },
            success: function(data) {
              $('#id_municipio').html('<option value="">Seleccione un municipio</option>');
              for (var i = 0; i < data.length; i++) {
                $('#id_municipio').append('<option value="' + data[i].cod_agl + '">' + data[i].nom_agl + '</option>');
              }
            }
          });
        } else {
          $('#id_municipio').html('<option value="">Seleccione un municipio</option>');
        }
      });

      $('#id_municipio').change(function() {
        var municipio_id = $(this).val();
        if (municipio_id) {
          $.ajax({
            url: '/persona/ajax/load-localidad/',
            data: { 'municipio_id': municipio_id },
            success: function(data) {
              $('#id_localidad').html('<option value="">Seleccione una localidad</option>');
              for (var i = 0; i < data.length; i++) {
                $('#id_localidad').append('<option value="' + data[i].cod_ase + '">' + data[i].nombre + '</option>');
              }
            }
          });
        } else {
          $('#id_localidad').html('<option value="">Seleccione una localidad</option>');
        }
      });

      $('#id_localidad').change(function() {
        var localidad_id = $(this).val();
        if (localidad_id) {
          $.ajax({
            url: '/persona/ajax/cordenadas_localidades/',
            data: { 'localidad_id': localidad_id },
            success: function(data) {
              if (data.lat_gd && data.long_gd) {
                map.setView([data.lat_gd, data.long_gd], 15);
              } else {
                console.error('Coordenadas no disponibles.');
              }
            }
          });
        }
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      $('.select2').select2();
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var messageContainer = document.getElementById('messages');
      if (messageContainer) {
        var messages = messageContainer.children;
        for (var i = 0; i < messages.length; i++) {
          var message = messages[i].dataset.message;
          var tags = messages[i].dataset.tags;
          var icon = '';

          if (tags.includes('danger')) {
            icon = 'error';
          } else if (tags.includes('success')) {
            icon = 'success';
          } else if (tags.includes('warning')) {
            icon = 'question';
          } else if (tags.includes('info')) {
            icon = 'info';
          }

          notificacionSwal('', message, icon, 'OK');
        }
      }
    });
  </script>
</body>
{% endblock %}
